<span class="site-header__link site-header__cart js-mini-cart {% if settings.cartdraw %} cardraw{% endif %}" data-cartmini="{{settings.cartdraw }}">
  <span class="js-toggle-cart" title="{{'cart.general.title' | t}}">
    {%- include 'icon-cart' -%}
    <span class="icon__fallback-text">{{ 'layout.cart.title' | t }}</span>
    <span class="js-cart-count site-header__cart-indicator">{{cart.item_count}}</span>
  </span>
  <div class="mini-cart-content shadow text-center">
    <div class="js-mini-cart-content"></div>
    <div class="mini-cart-total font-family-1">
      {{'cart.label.total' | t }}: <span class="js-cart-total">{{cart.total_price | money}}</span>
    </div>
    {%- include 'free-shipping' -%}
    <div class="mini-cart-taxes">
      {{'cart.general.taxes_and_shipping_at_checkout' | t}}
    </div>
    <div class="mini-cart-btns mt-4">
      <a class="btn gradient-theme js-cart-btn-checkout btn-theme w-100 {% if cart.item_count == 0 %} disabled{% endif %}" href="/checkout">{{'cart.general.checkout' | t }}</a>
      <a class="btn btn-link btn-sm js-cart-btn-cart" href="/cart">{{'cart.general.update' | t }}</a>
    </div>

    {%- if settings.safe_checkout_pcart != blank -%}
    <div class="mini-cart-safe-checkout">
      <img class="lazyload" data-src="{{ settings.safe_checkout_pcart | img_url: '500x' }}"/>
    </div>
    {%- endif -%}
  </div>
  {%- if settings.cartdraw -%} 
    <div class="overlaycart">
    </div>
  {%- endif -%}
</span>