<div class="text pl-4 ml-4 border-left block-socialtop">
    <ul class="list-inline social-icons">
      {%- if settings.social_facebook_link != blank -%}
      <li class="list-inline-item">
        <a href="{{ settings.social_facebook_link | escape }}" title="{{ 'layout.footer.social_platform' | t: name: shop.name, platform: 'Facebook' }}">
          {%- include 'icon-facebook' -%}
          <span >Fb</span>
        </a>
      </li>
      {%- endif -%}
      {%- if settings.social_twitter_link != blank -%}
      <li class="list-inline-item">
        <a href="{{ settings.social_twitter_link | escape }}" title="{{ 'layout.footer.social_platform' | t: name: shop.name, platform: 'Twitter' }}">
          {%- include 'icon-twitter' -%}
          <span >Tw</span>
        </a>
      </li>
      {%- endif -%}
      {%- if settings.social_pinterest_link != blank -%}
      <li class="list-inline-item">
        <a href="{{ settings.social_pinterest_link | escape }}" title="{{ 'layout.footer.social_platform' | t: name: shop.name, platform: 'Pinterest' }}">
          {%- include 'icon-pinterest' -%}
          <span>Pin</span>
        </a>
      </li>
      {%- endif -%}
      {%- if settings.social_instagram_link != blank -%}
      <li class="list-inline-item">
        <a href="{{ settings.social_instagram_link | escape }}" title="{{ 'layout.footer.social_platform' | t: name: shop.name, platform: 'Instagram' }}">
          {%- include 'icon-instagram' -%}
          <span >Ins</span>
        </a>
      </li>
      {%- endif -%}
      {%- if settings.social_tumblr_link != blank -%}
      <li class="list-inline-item">
        <a href="{{ settings.social_tumblr_link | escape }}" title="{{ 'layout.footer.social_platform' | t: name: shop.name, platform: 'Tumblr' }}">
          {%- include 'icon-tumblr' -%}
          <span >Tum</span>
        </a>
      </li>
      {%- endif -%}
      {%- if settings.social_snapchat_link != blank -%}
      <li class="list-inline-item">
        <a href="{{ settings.social_snapchat_link | escape }}" title="{{ 'layout.footer.social_platform' | t: name: shop.name, platform: 'Snapchat' }}">
          {%- include 'icon-snapchat' -%}
          <span >Snap</span>
        </a>
      </li>
      {%- endif -%}
      {%- if settings.social_youtube_link != blank -%}
      <li class="list-inline-item">
        <a href="{{ settings.social_youtube_link | escape }}" title="{{ 'layout.footer.social_platform' | t: name: shop.name, platform: 'YouTube' }}">
          {%- include 'icon-youtube' -%}
          <span class="icon__fallback-text">You</span>
        </a>
      </li>
      {%- endif -%}
      {%- if settings.social_vimeo_link != blank -%}
      <li class="list-inline-item">
        <a href="{{ settings.social_vimeo_link | escape }}" title="{{ 'layout.footer.social_platform' | t: name: shop.name, platform: 'Vimeo' }}">
          {%- include 'icon-vimeo' -%}
          <span >Vim</span>
        </a>
      </li>
      {%- endif -%}
    </ul>
  </div>