<script id="QuantityTemplate" type="text/template">
    {% raw %}
      <div class="js-qty">
        <input type="text" value="{{ value }}" id="{{ key }}" name="{{ name }}" pattern="[0-9]*" data-line="{{ line }}" class="js-qty__input" aria-live="polite">
        <button type="button" class="js-qty__adjust js-qty__adjust--minus" aria-label="{% endraw %}{{ 'cart.label.decrease_quantity' | t }}{% raw %}">
          {% endraw %}{% include 'icon-down' %}{% raw %}
          <span class="icon__fallback-text">−</span>
        </button>
        <button type="button" class="js-qty__adjust js-qty__adjust--plus" aria-label="{% endraw %}{{ 'cart.label.increase_quantity' | t }}{% raw %}">
          {% endraw %}{% include 'icon-up' %}{% raw %}
          <span class="icon__fallback-text">+</span>
        </button>
      </div>
    {% endraw %}
</script>
<ul hidden>
  <li id="a11y-refresh-page-message">{{ 'general.accessibility.refresh_page' | t }}</li>
</ul>