<!-- product-grid-1.liquid -->
<div class="product-card js-product-card product-card--style1 product-card--style4" data-price="{{ product.price }}">
  <div class="product-card__image-wr overflow-hidden">
    {%- assign image = product.featured_image -%}
    <a class="product-card__image js" href="{{ product.url | within: collection }}" style="max-width: 680px;" data-image-id="{{ image.id }}">
      {%- assign img_url = image | img_url: '1x1' | replace: '_1x1.', '_{width}x.' -%}
      <img class="lazyload transition first-image"
           data-src="{{ img_url }}"
           src="{%- include 'srcBlank' -%}"
           data-sizes="auto"
           alt="{{ image.alt | escape }}">
           {% include 'second-image'%}
    </a>

    <div class="product-card__overlay d-flex justify-content-center flex-column product-card__overlaytop">
      {%- if settings.enable_wishlsit -%}
      <span data-toggle="tooltip" data-placement="left" data-tooltipalltimes="true" class="btn btn-theme gradient-theme-vertical product-card__overlay-btn js-btn-wishlist" title="{{ 'products.product.wishlist_text' | t }}" data-handle="{{product.handle}}">
        {%- include 'icon-heart' -%}
      </span>
      {%- endif -%}
      {%- if settings.enable_compare -%}
      <span data-tooltip="true" data-placement="left" class="btn btn-theme gradient-theme-vertical product-card__overlay-btn js-btn-compare" title="{{ 'products.product.compare_text' | t }}" data-handle="{{product.handle}}">
        {%- include 'icon-exchange' -%}
        {%- include 'icon-close' -%}
        <span>{{ 'products.product.compare_text' | t }}</span>
      </span>
      {%- endif -%}
    </div>
    <div  class="product-card__overlay d-flex justify-content-center flex-row product-card__overlaybottom">
      <span data-tooltip="false" data-placement="left" class="btn btn-theme gradient-theme-vertical product-card__overlay-btn js-btn-quickview" title="{{ 'products.product.quickview_text' | t }}" data-toggle="modal" data-target="#jsQuickview" data-handle="{{product.handle}}">
        
        <span>{{ 'products.product.quickview_text' | t }}  &nbsp;</span>
        {%- include 'icon-quickview' -%}
      </span>
      <span data-tooltip="false" data-placement="left" class="btn btn-theme gradient-theme-vertical product-card__overlay-btn js-grid-cart" title="{{ 'products.product.add_to_cart' | t }}" data-id="{{product.selected_or_first_available_variant.id}}">
        <span>{{ 'products.product.add_to_cart' | t }}</span>
        <div class="product-card__loading spinner-{{settings.loading}}" role="status"></div>
        {%- include 'icon-cart-bold' -%}
        </span>
    </div>
    

    {%- if settings.enable_countdown_card -%}{%- include 'product-countdown' -%}{%- endif -%}

    {%- if settings.enablevideo -%}
      {%- include 'productVideo' -%}
    {%- endif -%}

    {%- if product.compare_at_price > product.price -%}
    <div class="product-tag product-tag--absolute" aria-hidden="true">
      {%- assign sale_minus = product.compare_at_price_min | minus: product.price_min -%}
      {%- assign sale_percent =  sale_minus | times:100 | divided_by: product.compare_at_price_min -%}
      -{{ sale_percent | append: '%'}}
    </div>
    {%- endif -%}
  </div>
  <div class="product-card__info">

    <a href="{{ product.url | within: collection }}" title="{{product.title}}" class="product-card__name h4">{{ product.title }}</a>

    {%- if product.available -%}
    <div class="product-card__price font-family-1">
      {%- if product.compare_at_price > product.price -%}
      {%- if product.price_varies -%}
      {%- assign sale_price = product.price | money -%}
      {{ 'products.product.on_sale_from_html' | t: price: sale_price }}
      {%- else -%}
      <span class="visually-hidden">{{ 'products.product.regular_price' | t }}</span>
      {{ product.price | money }}
      <s class="product-card__regular-price">{{ product.compare_at_price | money }}</s>
      <span class="visually-hidden">{{ 'products.product.sale_price' | t }}</span>
      
      {%- endif -%}
      {%- else -%}
      {%- if product.price_varies -%}
      {%- assign price = product.price | money -%}
      {{ 'products.product.from_text_html' | t: price: price }}
      {%- else -%}
      <span class="visually-hidden">{{ 'products.product.regular_price' | t }}</span>
      {{ product.price | money }}
      {%- endif -%}

      {%- endif -%}
    </div>
    {%- else -%}
    <div class="product-card__availability">
      {{ 'products.product.sold_out' | t }}
    </div>
    {%- endif -%}
    {%- include 'swatch-grid-1' -%}
  </div>
</div>