<div id="accordion" class="nav-tab-info-vertical">

    <div class="card">
      <div class="card-header">
        <a class="card-link" data-toggle="collapse" data-target="#collapseOne" href="#">
            {% include 'icon-arrow-right' %} {{section.settings.gtab_des | default:'Description'}}
        </a>
      </div>
      <div id="collapseOne" class="collapse" data-parent="#accordion">
        <div class="card-body px-0">
            {{product.description}}
        </div>
      </div>
    </div>
    {% if product.metafields.info.tab1 != blank %}
    <div class="card">
      <div class="card-header">
        {% if product.metafields.info.tab1 != blank %}
        <a class="collapsed card-link" data-toggle="collapse" data-target="#collapseTwo"  href="#">
          {% include 'icon-arrow-right' %} {{section.settings.stab_title1}}
        </a>
        {% endif %}
      </div>
      <div id="collapseTwo" class="collapse" data-parent="#accordion">
        <div class="card-body px-0">
            {{product.metafields.info.tab1}}
        </div>
      </div>
    </div>
    {% endif %}
    {% if product.metafields.info.tab2 != blank %}
    <div class="card">
      <div class="card-header">
        {% if product.metafields.info.tab2 != blank %}
        <a class="collapsed card-link" data-toggle="collapse" data-target="#collapseTwo2"  href="#">
          {% include 'icon-arrow-right' %} {{section.settings.stab_title2}}
        </a>
        {% endif %}
      </div>
      <div id="collapseTwo2" class="collapse" data-parent="#accordion">
        <div class="card-body px-0">
            {{product.metafields.info.tab2}}
        </div>
      </div>
    </div>
    {% endif %}
    {% if product.metafields.info.tab3 != blank %}
    <div class="card">
      <div class="card-header">
        {% if product.metafields.info.tab3 != blank %}
        <a class="collapsed card-link" data-toggle="collapse" data-target="#collapseTwo3"  href="#">
          {% include 'icon-arrow-right' %} {{section.settings.stab_title3}}
        </a>
        {% endif %}
      </div>
      <div id="collapseTwo3" class="collapse" data-parent="#accordion">
        <div class="card-body px-0">
            {{product.metafields.info.tab3}}
        </div>
      </div>
    </div>
    {% endif %}
    {% if product.metafields.info.tab4 != blank %}
    <div class="card">
      <div class="card-header">
        {% if product.metafields.info.tab4 != blank %}
        <a class="collapsed card-link" data-toggle="collapse" data-target="#collapseTwo4"  href="#">
          {% include 'icon-arrow-right' %} {{section.settings.stab_title4}}
        </a>
        {% endif %}
      </div>
      <div id="collapseTwo4" class="collapse" data-parent="#accordion">
        <div class="card-body px-0">
            {{product.metafields.info.tab4}}
        </div>
      </div>
    </div>
    {% endif %}
    {% if section.settings.gtab_review_enable %}
    <div class="card">
      <div class="card-header">
        <a class="collapsed card-link" data-toggle="collapse" data-target="#collapseThree"  href="#">
          {% include 'icon-arrow-right' %} {{section.settings.gtab_review}}
        </a>
      </div>
      <div id="collapseThree" class="collapse" data-parent="#accordion">
        <div class="card-body px-0">
            <div id="shopify-product-reviews" data-id="{{product.id}}">{{ product.metafields.spr.reviews }}</div>
        </div>
      </div>
    </div>
    {% endif %}
  </div>