{% capture title %}{% include 'shortcode-render' render:'title' %}{% endcapture %}
{% capture item_in_page %}{% include 'shortcode-render' render:'item_in_page' %}{% endcapture %}
{% capture columns_product %}{% include 'shortcode-render' render:'columns_product' %}{% endcapture %}
{% capture product_in_tab %}{% include 'shortcode-render' render:'product_in_tab' %}{% endcapture %}
{% capture handle %}{% include 'shortcode-render' render:'handle' %}{% endcapture %}
{% capture interval %}{% include 'shortcode-render' render:'interval' %}{% endcapture %}
{% capture id %}{% include 'shortcode-render' render:'id' %}{% endcapture %}
{% capture procarouselId %}procarousel-{{ 'now' | date: "%N" }}{% endcapture %}
{% if id == '' %}
{% capture prolistID %}productlist-{{ 'now' | date: "%N" }}{% endcapture %}
{% assign id = prolistID %}
{% endif %}

{% assign item_in_page = item_in_page | plus: 0 %}
{% assign columns_product = columns_product | plus: 0 %}
{% assign product_in_tab = product_in_tab | plus: 0 %}
{%- assign columns_product_collections = columns_product | plus: 0 -%}
{%- assign colItem = 12 | divided_by:columns_product_collections -%}
{%- if columns_product_collections == 5 -%}
{%- capture grid_item_width -%} col-lg-3 col-md-3 col-sm-12 col-12{%- endcapture -%}
{%- else -%}
{%- capture grid_item_width -%}col-md-{{ colItem }} col-sm-12 col-12{%- endcapture -%}
{%- endif -%}

{% if interval == '' %}{% assign interval = 5000 %}{% endif %}
{% for collection in collections %}
{% if handle != ''%}
{% if collection.handle ==  handle %}
{% assign products = collection.products %}
{% break%}
{% endif%}
{% endif%}
{% endfor %}

<div id="{{ id }}" class="products_block products_block--carousel  products_list exclusive block" data-slide-carousel="{{ id }}">
  <h4 class="page-subheading">
    {{ title }}
  </h4>
  <div class="block_content">
    <div class="carousel slide" id="{{ procarouselId }}">
      {% if product_in_tab > item_in_page %}
      <a class="carousel-control left" href="#{{ procarouselId }}"   data-slide="prev" style="position: absolute; top: 50%; left: 10px; z-index: 2;">
        {% include 'icon-arrow-left' %}
      </a>
      <a class="carousel-control right" href="#{{ procarouselId }}"  data-slide="next" style="position: absolute; top: 50%; right: 10px; z-index: 2;">
        {% include 'icon-arrow-right' %}
      </a>
      {% endif %}
      <div class="carousel-inner">
        {% assign countRow = 0 %}
        {% for product in products limit:product_in_tab %}
        {% assign countRow = countRow | plus: 1 %}
        {% assign modpage = forloop.index | modulo:item_in_page %}
        {% assign modcol = countRow | modulo:columns_product %}
        {% if modpage == 1 %}
        <div class="carousel-item {% if forloop.first %}active{% endif %}">
          <div class="product_list" style="width: 100%;">
            {% endif %}
            {% if modcol == 1 %}
            <div class="row">
              {% endif %}
              <div class="item {{ grid_item_width }}">
                {% include 'product-card' %}
              </div>
              {% if modcol == 0 or modpage == 0 or forloop.last %}
            </div>
            {% endif %} 
            {% if modpage == 0 or forloop.last %}
            {% assign countRow = 0 %}
          </div>
        </div>
        {% endif %}
        {% endfor %}
      </div>
    </div> 
  </div>
</div>