<!-- brand-carousel.liquid -->
<style>
  .brand-item{
    text-align: center;
  }
  .brand-item a{
    display: inline-block;
  }
</style>
<div class="customstyle{{ section.id }} " data-aos={{section.settings.animation}} >
  {%- include 'style-section' -%}
  <div class="{{ section.settings.setwidth }}">
    <div class="section-block">
      {%- include 'section-heading' -%}
      <div class="brand-wrapper dots-negative">
        <div class="brand-slider row mb-0" id="collection-list-{{ section.id }}"
            data-rows="{{section.settings.rows}}"
            data-slidesToShow="{{section.settings.slidestoshow}}"
            data-slidestoscroll="{{section.settings.slidescroll}}"
            data-arrows="{{ section.settings.arrows }}"
            data-dots="{{ section.settings.dots }}" 
            data-draggable="{{ section.settings.draggable }}" 
            data-infinite="{{ section.settings.infinite }}" 
            data-section-id="{{ section.id }}" 
            data-section-type="slickCarousels">
          {%- for block in section.blocks -%}
          <div class="col brand-item carousel__slide-wrapper--{{block.id}}" {{ block.shopify_attributes }}>
            <a href="{{block.settings.link | default:'#'}}" class="{%- if section.settings.grayscale -%}hv-image-grayscale{%- endif -%}">
              {%- if block.settings.image != blank -%}
              <img class="lazyload transition" src="{% include 'srcBlank' %}" data-src="{{ block.settings.image | img_url: '400x' }}" alt="{{ block.settings.image.alt }}">
              {%- else -%}
              <div class="image-block__image">
                {{ 'image' | placeholder_svg_tag: 'placeholder-svg' }}
              </div>
              {%- endif -%}
            </a>
          </div>
          {%- endfor -%}
        </div>
      </div>
      {%- if section.blocks.size == 0 -%}
      {%- include 'no-blocks' -%}
      {%- endif -%}
    </div>
  </div>
</div>

{% schema %}
{
  "name": "Logo carousel",
  "class": "index-section",
  "max_blocks": 20,
  "settings": [
  {
    "type": "select",
    "id": "animation",
    "options": [
      { "value": "", "label": "None"},
      { "value": "fade", "label": "Fade"},
      { "value": "fade-up", "label": "Fade Up"},
      { "value": "fade-down", "label": "Fade Down"},
      { "value": "fade-left", "label": "Fade Left"},
      { "value": "fade-right", "label": "Fade Right"},
      { "value": "fade-up-right", "label": "Fade Up Right"},
      { "value": "fade-up-left", "label": "Fade Up Left"},
      { "value": "fade-down-right", "label": "Fade Down Right"},
      { "value": "fade-down-left", "label": "Fade Down Left"},
      { "value": "flip-up", "label": "Flip Up"},
      { "value": "flip-down", "label": "Flip Down"},
      { "value": "flip-left", "label": "Flip Left"},
      { "value": "flip-right", "label": "Flip Right"},
      { "value": "slide-up", "label": "Slide Up"},
      { "value": "slide-down", "label": "Slide Down"},
      { "value": "slide-left", "label": "Slide Left"},
      { "value": "slide-right", "label": "Slide Right"},
      { "value": "zoom-in", "label": "Zoom In"},
      { "value": "zoom-in-up", "label": "Zoom In Up"},
      { "value": "zoom-in-down", "label": "Zoom In Down"},
      { "value": "zoom-in-left", "label": "Zoom In Left"},
      { "value": "zoom-in-right", "label": "Zoom In Right"},
      { "value": "zoom-out", "label": "Zoom Out"},
      { "value": "zoom-out-up", "label": "Zoom Out Up"},
      { "value": "zoom-out-down", "label": "Zoom Out Down"},
      { "value": "zoom-out-left", "label": "Zoom Out Feft"},
      { "value": "zoom-out-right", "label": "Zoom Out Right"}
    ],
    "label": "Select Animation"
  },
  {
    "type": "text",
    "id": "paddingsection",
    "label": "Padding Section",
    "default": "0px 0px 0px 0px",
    "info": "Padding: Top Right Bottom Left"
  },
  {
    "type": "text",
    "id": "paddingmobile",
    "label": "Padding Section Mobile",
    "default": "60px 0px 60px 0px",
    "info": "Padding: Top Right Bottom Left"
  },
  {
    "type": "text",
    "id": "marginsection",
    "label": "Margin Section",
    "default": "0px 0px 0px 0px",
    "info": "Margin: Top Right Bottom Left"
  },
  {
    "type": "text",
    "id": "marginmobile",
    "label": "Margin Mobile",
    "default": "0px 0px 0px 0px",
    "info": "Margin: Top Right Bottom Left"
  },
  {
    "type": "color",
    "id": "bgsection",
      "label": "Background Section",
      "default": "#fefefe"
  },
  {
    "type": "color",
    "id": "titlecolor",
      "label": "Title Color",
      "default": "#373737"
  },
  {
    "type": "color",
    "id": "subcolor",
      "label": "Sub Title Color",
      "default": "#373737"
  },
  {
    "type": "text",
    "id": "title_top",
    "label": "Sub Title Top",
    "default": "Sub Title Top"
  },
    {
      "type": "text",
      "id": "title",
      "label": "Title",
      "default": "Logo Carousel"
    },
    {
      "type": "textarea",
      "id": "des",
      "label": "HTML / Description"
    },
    {
      "type": "select",
      "id": "setwidth",
      "label": "Full Width",
      "default": "container",
      "options": [
        {
          "value": "container",
          "label": "Box"
        },
        {
          "value": "container-fluid",
          "label": "Container Fluid"
        },
        {
          "value": "full",
          "label": "Full"
        }
      ]
    },
    {
      "type": "checkbox",
      "id": "grayscale",
      "label": "Grayscale effect",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "arrows",
      "label": "Arrows",
      "default": false
    },
    {
      "type": "checkbox",
      "id": "draggable",
      "label": "Draggable",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "dots",
      "label": "Dots",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "infinite",
      "label": "Infinite",
      "default": true
    },
    {
      "type": "range",
      "id": "slidestoshow",
      "label": "Show",
      "max": 18,
      "min": 1,
      "step": 1,
      "unit": "lm",
      "default": 5
    },
    {
      "type": "range",
      "id": "slidescroll",
      "label": "Scroll",
      "max": 6,
      "min": 1,
      "step": 1,
      "unit": "ste",
      "default": 1
    },
    {
      "type": "select",
      "id": "rows",
      "label": "Rows",
      "default": "1",
      "options": [
        {
          "value": "1",
          "label": "1 row"
        },
        {
          "value": "2",
          "label": "2 rows"
        },
        {
          "value": "3",
          "label": "3 rows"
        }
      ]
    }
  ],
  "blocks": [
    {
      "type": "logo",
      "name": "Logo",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        },
        {
          "type": "url",
          "id": "link",
          "label": "Logo link to"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Logo carousel",
      "category": "Image",
      "blocks": [
        {
          "type": "logo"
        },
        {
          "type": "logo"
        },
        {
          "type": "logo"
        },
        {
          "type": "logo"
        },
        {
          "type": "logo"
        },
        {
          "type": "logo"
        }
      ]
    }
  ]
}
{% endschema %}