<!-- featured-articles.liquid -->
<style>
  .blog-section{{section.id}}{
    position: relative;
    z-index: {{section.settings.zindex}};
  }
  .blog-section{{section.id}}::before{
    position: absolute;
    top:0;
    right:0;
    left:0;
    content: "";
    height: {{section.settings.rangebg}}%;
    background-color: {{section.settings.bgbefore}};
  }
</style>
<div class="customstyle{{ section.id }} blog-section{{section.id}}" data-aos={{section.settings.animation}}>
  {%- include 'style-section' -%}
<div class="{{ section.settings.setwidth }}">
  <div class="section-block">
    {%- include 'section-heading' -%}
    <div class="bloglist-wrapper dots-negative " data-aos={{section.settings.animation}}>
      <div class="bloglist-slider row" id="Bloglist-{{ section.id }}"
           data-rows="{{section.settings.rows}}"
           data-slidesToShow="{{section.settings.show}}"
           data-arrows="{{ section.settings.arrows }}"
           data-dots="{{ section.settings.dots }}" 
           data-draggable="{{ section.settings.draggable }}" 
           data-infinite="{{ section.settings.infinite }}" 
           data-section-id="{{ section.id }}" 
           data-section-type="slickCarousels">
        {%- assign blog = blogs[section.settings.blog] -%}
        {%- assign limit = section.settings.limit -%}
        {%- if blog != blank -%}
        {%- for article in blog.articles limit: limit  -%}
        <div class="bloglist-item col">
          {%- include 'blog-card' -%}
        </div>
        {%- endfor -%}
        {%- else -%}
        {%- for i in (1..limit) -%}
        <div class="bloglist-item col">
          {%- include 'blog-grid-blank' -%}
        </div>
        {%- endfor -%}
        {%- endif -%}
      </div>
    </div>
  </div>
</div>
</div>

{% schema %}
{
  "name": "Blog posts",
  "class": "index-section",
  "settings": [
  {
    "type": "select",
    "id": "animation",
    "options": [
      { "value": "", "label": "None"},
      { "value": "fade", "label": "Fade"},
      { "value": "fade-up", "label": "Fade Up"},
      { "value": "fade-down", "label": "Fade Down"},
      { "value": "fade-left", "label": "Fade Left"},
      { "value": "fade-right", "label": "Fade Right"},
      { "value": "fade-up-right", "label": "Fade Up Right"},
      { "value": "fade-up-left", "label": "Fade Up Left"},
      { "value": "fade-down-right", "label": "Fade Down Right"},
      { "value": "fade-down-left", "label": "Fade Down Left"},
      { "value": "flip-up", "label": "Flip Up"},
      { "value": "flip-down", "label": "Flip Down"},
      { "value": "flip-left", "label": "Flip Left"},
      { "value": "flip-right", "label": "Flip Right"},
      { "value": "slide-up", "label": "Slide Up"},
      { "value": "slide-down", "label": "Slide Down"},
      { "value": "slide-left", "label": "Slide Left"},
      { "value": "slide-right", "label": "Slide Right"},
      { "value": "zoom-in", "label": "Zoom In"},
      { "value": "zoom-in-up", "label": "Zoom In Up"},
      { "value": "zoom-in-down", "label": "Zoom In Down"},
      { "value": "zoom-in-left", "label": "Zoom In Left"},
      { "value": "zoom-in-right", "label": "Zoom In Right"},
      { "value": "zoom-out", "label": "Zoom Out"},
      { "value": "zoom-out-up", "label": "Zoom Out Up"},
      { "value": "zoom-out-down", "label": "Zoom Out Down"},
      { "value": "zoom-out-left", "label": "Zoom Out Feft"},
      { "value": "zoom-out-right", "label": "Zoom Out Right"}
    ],
    "label": "Select Animation"
  },
  {
    "type": "text",
    "id": "paddingsection",
    "label": "Padding Section",
    "default": "0px 0px 0px 0px",
    "info": "Padding: Top Right Bottom Left"
  },
  {
    "type": "text",
    "id": "paddingmobile",
    "label": "Padding Section Mobile",
    "default": "60px 0px 60px 0px",
    "info": "Padding: Top Right Bottom Left"
  },
  {
    "type": "text",
    "id": "marginsection",
    "label": "Margin Section",
    "default": "0px 0px 0px 0px",
    "info": "Margin: Top Right Bottom Left"
  },
  {
    "type": "text",
    "id": "marginmobile",
    "label": "Margin Mobile",
    "default": "0px 0px 0px 0px",
    "info": "Margin: Top Right Bottom Left"
  },
  {
    "type": "text",
    "id": "zindex",
    "label": "Z Index Section",
    "default": "0"
  },
  {
    "type": "color",
    "id": "bgsection",
      "label": "Background Section",
      "default": "#ffffff"
  },
  {
    "type": "range",
    "id": "rangebg",
    "label": "Height Background sub",
    "max": 100,
    "min": 0,
    "step": 10,
    "unit": " %",
    "default": 50
  },
  {
    "type": "color",
    "id": "bgbefore",
      "label": "Background sub ",
      "default": "#E3C9B8"
  },
  {
    "type": "color",
    "id": "titlecolor",
      "label": "Title Color",
      "default": "#373737"
  },
  {
    "type": "text",
    "id": "title_top",
    "label": "Sub Title Top",
    "default": "Sub Title Top"
  },
  {
    "type": "color",
    "id": "subcolor",
      "label": "Sub Title Color",
      "default": "#373737"
  },
    {
      "type": "text",
      "id": "title",
      "label": "Title",
      "default": "Blog posts"
    },
    {
      "type": "textarea",
      "id": "des",
      "label": "HTML / Description"
    },
    {
      "label": "Blog",
      "id": "blog",
      "type": "blog"
    },
    {
      "type": "select",
      "id": "setwidth",
      "label": "Full Width",
      "default": "container",
      "options": [
        {
          "value": "container",
          "label": "Box"
        },
        {
          "value": "container-fluid",
          "label": "Container Fluid"
        },
        {
          "value": "full",
          "label": "Full"
        }
      ]
    },
    {
      "type": "checkbox",
      "id": "arrows",
      "label": "Arrows",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "draggable",
      "label": "Draggable",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "dots",
      "label": "Dots",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "infinite",
      "label": "Infinite",
      "default": true
    },
    {
      "type": "select",
      "id": "rows",
      "label": "Rows",
      "default": "1",
      "options": [
        {
          "value": "1",
          "label": "1 row"
        },
        {
          "value": "2",
          "label": "2 rows"
        }
      ]
    },
    {
      "type": "range",
      "id": "limit",
      "min": 2,
      "max": 30,
      "step": 1,
      "label": "Limit items",
      "default": 5
    },
    {
      "type": "range",
      "id": "show",
      "min": 1,
      "max": 6,
      "step": 1,
      "label": "Display items",
      "default": 3
    }
  ],
  "presets": [
    {
      "name": "Blog posts",
      "category": "Text"
    }
  ]
}
{% endschema %}