<!-- footer-1.liquid -->
<style>
  :root {--footer-bg:{{section.settings.background}};--footer-bg-bot:{{section.settings.background_bot}};--footer-text:{{section.settings.text}};--footer-title:{{section.settings.title}}}
</style>
<style>
.site-footer{
    background-color:var(--footer-bg);
    color:var(--footer-text);
    line-height:1.8
}
.site-footer a{
    color:var(--footer-text)
}
.site-footer a:focus,.site-footer a:hover{
    color:var(--g-main)
}
.flex-footer{
    display:-webkit-flex;
    display:-ms-flexbox;
    display:flex;
    width:100%;
    -ms-flex-align:start;
    -webkit-align-items:flex-start;
    -moz-align-items:flex-start;
    -ms-align-items:flex-start;
    -o-align-items:flex-start;
    align-items:flex-start;
    -webkit-flex-wrap:wrap;
    -moz-flex-wrap:wrap;
    -ms-flex-wrap:wrap;
    flex-wrap:wrap;
    margin:0 -10px
}
.flex-footer .flex__item{
    -webkit-flex:1 1 100%;
    -moz-flex:1 1 100%;
    -ms-flex:1 1 100%;
    flex:1 1 100%;
    padding:0 10px
}
@media only screen and (min-width:750px){
    .flex-footer .flex__item{
        -webkit-flex:1 1 20%;
        -moz-flex:1 1 20%;
        -ms-flex:1 1 20%;
        flex:1 1 20%
    }
}
.site-footer__section{
    padding-bottom:20px
}
.site-footer__copyright{
    background-color:var(--footer-bg-bot);
    display:flex;
    align-items:center;
    border-top: 1px solid rgba(255, 248, 244, .3);
    padding-top: 15px;
    color:{{section.settings.text_copy}};
}
.site-footer__copyright .container {
  padding-top: 10px;
  padding-bottom: 10px;
  border-top: 1px solid {{section.settings.border-copryright}};
}
.site-footer__copyright a {
  color:{{section.settings.text_copy}} !important;
}
.site-footer__copyright .social-icons .list-inline-item:not(:last-child){
  margin-right: 1.5rem;
}
.site-footer__section-title{
    color:var(--footer-title);
}
.site-footer__list{
    list-style:none
}
.site-footer__list-item{
    margin-bottom:10px
}
.site-footer__newsletter-label{
    display:block
}
.site-footer__newsletter-label a{
    color:#ad2c34
}
.site-footer__newsletter-label a:hover{
    color:#842228
}
.site-footer .social-icons .icon{
    fill:currentColor
}
.site-footer .social-icons .icon{
    margin-right:10px
}
.site-footer .social-icons a{
    display:block;
}
.site-footer .payment-icons{
    padding:5px 0
}

.site-footer .payment-icons li{
    padding:5px 0
}
.site-footer{
  padding: 60px 0 0;
}
.site-footer__section img{
  margin-bottom: 20px;
}
#footer-payment-methods li svg{ 
  height: 35px;
  width: 40px; 
}
.section-footer-email .social-icons li span{display: none;}
.section-footer-email .social-icons li i{color:var(--footer-title)}
.section-footer-email .social-icons li:not(:last-child){margin-right: 1.5rem;}
@media (min-width: 992px) {
  #contact_form .input-group {
    width: 80%;
  }
}
</style>

<footer class="site-footer" role="contentinfo">
  <div class="{{ section.settings.setwidth }}">
    <div class="row pb-4">
      {%- for block in section.blocks -%}
      {%- case block.settings.width -%}
      {%- when '16%' -%}
      {%- assign block_width = 'col-lg-2 col-md-6' -%}
      {%- when '25%' -%}
      {%- assign block_width = 'col-lg-3 col-md-6' -%}
      {%- when '33%' -%}
      {%- assign block_width = 'col-lg-4 col-md-6' -%}
      {%- when '41%' -%}
      {%- assign block_width = 'col-lg-5 col-md-6' -%}
      {%- when '50%' -%}
      {%- assign block_width = 'col-lg-6' -%}
      {%- when '66%' -%}
      {%- assign block_width = 'col-lg-8 col-md-12' -%}
      {%- when '75%' -%}
      {%- assign block_width = 'col-lg-9 col-md-12' -%}
      {%- when '100%' -%}
      {%- assign block_width = 'col-12' -%}
      {%- endcase -%}
      <div class="{{block_width}} " {{ block.shopify_attributes }}>
        {%- case block.type -%}
        {%- when 'social' -%}
        <div class="site-footer__section">
          {%- if block.settings.title != blank -%}
          <h4 class="h5 site-footer__section-title text-{{ block.settings.align }}">{{ block.settings.title | escape }}</h4>
          {%- endif -%}
          {%- if block.settings.text_des2 != blank -%}
          <div class="rte-setting">{{ block.settings.text_des2 }}</div>
          {%- endif -%}
          <ul class="list-inline social-icons text-{{ block.settings.align }}">
            {%- include 'footer-socical' -%}
          </ul>
        </div>

        {%- when 'menu' -%}
        {%- if linklists[block.settings.link_list].links.size > 0 -%}
        <div class="site-footer__section">
          {%- if linklists[block.settings.link_list].title != blank -%}
          <h4 class="h5 site-footer__section-title">{{ linklists[block.settings.link_list].title }}</h4>
          {%- endif -%}
          <ul class="site-footer__list">
            {%- for link in linklists[block.settings.link_list].links -%}
            <li class="site-footer__list-item"><a href="{{ link.url }}">{{ link.title }}</a></li>
            {%- endfor -%}
          </ul>
        </div>
        {%- endif -%}

        {%- when 'text' -%}
        <div class="site-footer__section">
          {%- if block.settings.title != blank -%}
          <h4 class="h5 site-footer__section-title">{{ block.settings.title | escape }}</h4>
          {%- endif -%}
          {%- if block.settings.logofooter != blank -%}
            <img class="lazyload" src="{%- include 'srcBlank' -%}" data-src="{{block.settings.logofooter | img_url : '400x'}}" />
          {%- endif -%}
          <div class="rte-setting">{{ block.settings.text }}</div>
        </div>

        {%- when 'newsletter' -%}
        <div class="site-footer__section section-footer-email">
          {%- if block.settings.title != blank -%}
          <h4 class="h5 site-footer__section-title">
            {{ block.settings.title | escape }}
          </h4>
          {%- endif -%}
          <div class="form-vertical footer-email">
            {%- form 'customer' -%}
            {{ form.errors | default_errors }}
            {%- if form.posted_successfully? -%}
            <p class="form-success">{{ 'general.newsletter_form.confirmation' | t }}</p>
            {%- else -%}
            <input type="hidden" name="contact[tags]" value="newsletter">
            {%- if block.settings.subheading != blank -%}
            <label for="NewsletterEmail-{{ block.id }}" class="site-footer__newsletter-label">
              {{ block.settings.subheading }}
            </label>
            {%- endif -%}
            <div class="input-group">
              <input type="email" value="{% if customer %}{{ customer.email }}{% endif %}" placeholder="{{ 'general.newsletter_form.newsletter_placeholder' | t }}" name="contact[email]" id="NewsletterEmail-{{ block.id }}" class="form-control mr-3" autocorrect="off" autocapitalize="off">
              <div class="input-group-append">
                <button type="submit" class="btn btn-theme btn-underline" name="commit">
                 {{ 'general.newsletter_form.submit' | t }}
                </button>
              </div>
            </div>
            {%- endif -%}
            {%- endform -%}
          </div>
          {% if block.settings.enablesocial %}
          <ul class="list-inline social-icons">
            {%- if settings.social_facebook_link != blank -%}
            <li class="list-inline-item">
              <a href="{{ settings.social_facebook_link | escape }}" title="{{ 'layout.footer.social_platform' | t: name: shop.name, platform: 'Facebook' }}">
                {%- include 'icon-facebook' -%}
                <span >Fb</span>
              </a>
            </li>
            {%- endif -%}
            {%- if settings.social_twitter_link != blank -%}
            <li class="list-inline-item">
              <a href="{{ settings.social_twitter_link | escape }}" title="{{ 'layout.footer.social_platform' | t: name: shop.name, platform: 'Twitter' }}">
                {%- include 'icon-twitter' -%}
                <span >Tw</span>
              </a>
            </li>
            {%- endif -%}
            {%- if settings.social_pinterest_link != blank -%}
            <li class="list-inline-item">
              <a href="{{ settings.social_pinterest_link | escape }}" title="{{ 'layout.footer.social_platform' | t: name: shop.name, platform: 'Pinterest' }}">
                {%- include 'icon-pinterest' -%}
                <span>Pin</span>
              </a>
            </li>
            {%- endif -%}
            {%- if settings.social_instagram_link != blank -%}
            <li class="list-inline-item">
              <a href="{{ settings.social_instagram_link | escape }}" title="{{ 'layout.footer.social_platform' | t: name: shop.name, platform: 'Instagram' }}">
                {%- include 'icon-instagram' -%}
                <span >Ins</span>
              </a>
            </li>
            {%- endif -%}
            {%- if settings.social_tumblr_link != blank -%}
            <li class="list-inline-item">
              <a href="{{ settings.social_tumblr_link | escape }}" title="{{ 'layout.footer.social_platform' | t: name: shop.name, platform: 'Tumblr' }}">
                {%- include 'icon-tumblr' -%}
                <span >Tum</span>
              </a>
            </li>
            {%- endif -%}
            {%- if settings.social_snapchat_link != blank -%}
            <li class="list-inline-item">
              <a href="{{ settings.social_snapchat_link | escape }}" title="{{ 'layout.footer.social_platform' | t: name: shop.name, platform: 'Snapchat' }}">
                {%- include 'icon-snapchat' -%}
                <span >Snap</span>
              </a>
            </li>
            {%- endif -%}
            {%- if settings.social_youtube_link != blank -%}
            <li class="list-inline-item">
              <a href="{{ settings.social_youtube_link | escape }}" title="{{ 'layout.footer.social_platform' | t: name: shop.name, platform: 'YouTube' }}">
                {%- include 'icon-youtube' -%}
                <span class="icon__fallback-text">You</span>
              </a>
            </li>
            {%- endif -%}
            {%- if settings.social_vimeo_link != blank -%}
            <li class="list-inline-item">
              <a href="{{ settings.social_vimeo_link | escape }}" title="{{ 'layout.footer.social_platform' | t: name: shop.name, platform: 'Vimeo' }}">
                {%- include 'icon-vimeo' -%}
                <span >Vim</span>
              </a>
            </li>
            {%- endif -%}
          </ul>
          {% endif %}
        </div>
        {%- endcase -%}
      </div>
      {%- endfor -%}
    </div>
  </div>
  <div class="site-footer__copyright" >
    <div class="{{ section.settings.setwidth }}">
      <div class="row align-items-lg-center">
        <div class="col-lg-4">
          <ul class="list-inline social-icons ">
            {%- include 'footer-socical' -%}
          </ul>
        </div>
        <div class="col-lg-4 text-center">
          <span>&copy; {{ 'now' | date: "%Y" }}, <b class="text-capitalize">{{ shop.name | link_to: '/' }}</b>. {{ powered_by_link }}</span>
        </div>
        <div class="col-lg-4">
          {%- if section.settings.payment_info == 'svg' -%}
            <ul id="footer-payment-methods" class="list-inline payment-icons text-lg-right">
                <li class="list-inline-item">                   
                <svg class="payment-icon" xmlns="http://www.w3.org/2000/svg" role="img" viewBox="0 0 38 24" width="38" height="24" aria-labelledby="pi-american_express"><title id="pi-american_express">American Express</title><g fill="none"><path fill="#000" d="M35,0 L3,0 C1.3,0 0,1.3 0,3 L0,21 C0,22.7 1.4,24 3,24 L35,24 C36.7,24 38,22.7 38,21 L38,3 C38,1.3 36.6,0 35,0 Z" opacity=".07"></path><path fill="#006FCF" d="M35,1 C36.1,1 37,1.9 37,3 L37,21 C37,22.1 36.1,23 35,23 L3,23 C1.9,23 1,22.1 1,21 L1,3 C1,1.9 1.9,1 3,1 L35,1"></path><path fill="#FFF" d="M8.971,10.268 L9.745,12.144 L8.203,12.144 L8.971,10.268 Z M25.046,10.346 L22.069,10.346 L22.069,11.173 L24.998,11.173 L24.998,12.412 L22.075,12.412 L22.075,13.334 L25.052,13.334 L25.052,14.073 L27.129,11.828 L25.052,9.488 L25.046,10.346 L25.046,10.346 Z M10.983,8.006 L14.978,8.006 L15.865,9.941 L16.687,8 L27.057,8 L28.135,9.19 L29.25,8 L34.013,8 L30.494,11.852 L33.977,15.68 L29.143,15.68 L28.065,14.49 L26.94,15.68 L10.03,15.68 L9.536,14.49 L8.406,14.49 L7.911,15.68 L4,15.68 L7.286,8 L10.716,8 L10.983,8.006 Z M19.646,9.084 L17.407,9.084 L15.907,12.62 L14.282,9.084 L12.06,9.084 L12.06,13.894 L10,9.084 L8.007,9.084 L5.625,14.596 L7.18,14.596 L7.674,13.406 L10.27,13.406 L10.764,14.596 L13.484,14.596 L13.484,10.661 L15.235,14.602 L16.425,14.602 L18.165,10.673 L18.165,14.603 L19.623,14.603 L19.647,9.083 L19.646,9.084 Z M28.986,11.852 L31.517,9.084 L29.695,9.084 L28.094,10.81 L26.546,9.084 L20.652,9.084 L20.652,14.602 L26.462,14.602 L28.076,12.864 L29.624,14.602 L31.499,14.602 L28.987,11.852 L28.986,11.852 Z"></path></g></svg>
                </li> 
                
                <li class="list-inline-item">      
                <svg class="payment-icon" viewBox="0 0 38 24" xmlns="http://www.w3.org/2000/svg" width="38" height="24" role="img" aria-labelledby="pi-maestro"><title id="pi-maestro">Maestro</title><path opacity=".07" d="M35 0H3C1.3 0 0 1.3 0 3v18c0 1.7 1.4 3 3 3h32c1.7 0 3-1.3 3-3V3c0-1.7-1.4-3-3-3z"></path><path fill="#fff" d="M35 1c1.1 0 2 .9 2 2v18c0 1.1-.9 2-2 2H3c-1.1 0-2-.9-2-2V3c0-1.1.9-2 2-2h32"></path><circle fill="#EB001B" cx="15" cy="12" r="7"></circle><circle fill="#00A2E5" cx="23" cy="12" r="7"></circle><path fill="#7375CF" d="M22 12c0-2.4-1.2-4.5-3-5.7-1.8 1.3-3 3.4-3 5.7s1.2 4.5 3 5.7c1.8-1.2 3-3.3 3-5.7z"></path></svg>
                </li> 
                <li class="list-inline-item">  
                <svg class="payment-icon" viewBox="0 0 38 24" xmlns="http://www.w3.org/2000/svg" role="img" width="38" height="24" aria-labelledby="pi-master"><title id="pi-master">Mastercard</title><path opacity=".07" d="M35 0H3C1.3 0 0 1.3 0 3v18c0 1.7 1.4 3 3 3h32c1.7 0 3-1.3 3-3V3c0-1.7-1.4-3-3-3z"></path><path fill="#fff" d="M35 1c1.1 0 2 .9 2 2v18c0 1.1-.9 2-2 2H3c-1.1 0-2-.9-2-2V3c0-1.1.9-2 2-2h32"></path><circle fill="#EB001B" cx="15" cy="12" r="7"></circle><circle fill="#F79E1B" cx="23" cy="12" r="7"></circle><path fill="#FF5F00" d="M22 12c0-2.4-1.2-4.5-3-5.7-1.8 1.3-3 3.4-3 5.7s1.2 4.5 3 5.7c1.8-1.2 3-3.3 3-5.7z"></path></svg>
                </li>  
                <li class="list-inline-item">  
                <svg class="payment-icon" xmlns="http://www.w3.org/2000/svg" role="img" viewBox="0 0 38 24" width="38" height="24" aria-labelledby="pi-shopify_pay"><title id="pi-shopify_pay">Shop Pay</title><rect x=".5" y=".5" width="37" height="23" rx="2" fill="#5A31F4" stroke="#3F22AB"></rect><path d="M21.382 9.713c0 1.668-1.177 2.858-2.821 2.858h-1.549a.133.133 0 00-.092.038.128.128 0 00-.038.091v2.192a.129.129 0 01-.08.119.13.13 0 01-.05.01h-1.084a.13.13 0 01-.12-.08.127.127 0 01-.01-.05V6.986a.129.129 0 01.13-.13h2.9c1.637 0 2.814 1.19 2.814 2.858zm-1.352 0c0-.958-.658-1.658-1.55-1.658h-1.468a.13.13 0 00-.13.13v3.05a.129.129 0 00.13.13h1.468c.892.005 1.55-.695 1.55-1.652zM21.704 13.504a1.527 1.527 0 01.647-1.317c.423-.316 1.084-.48 2.055-.514l1.033-.036v-.303c0-.607-.41-.863-1.068-.863-.658 0-1.075.231-1.17.61a.127.127 0 01-.125.09h-1.022a.13.13 0 01-.126-.092.126.126 0 01-.004-.055c.152-.898.904-1.58 2.494-1.58 1.692 0 2.303.783 2.303 2.276v3.172a.13.13 0 01-.132.129h-1.03a.13.13 0 01-.13-.13v-.236a.096.096 0 00-.061-.091.099.099 0 00-.107.022c-.31.334-.808.575-1.607.575-1.175 0-1.95-.607-1.95-1.657zm3.735-.687v-.246l-1.339.07c-.705.036-1.115.326-1.115.816 0 .444.376.69 1.034.69.893 0 1.42-.48 1.42-1.33zM27.755 17.417v-.919a.131.131 0 01.157-.127c.158.029.318.044.479.044a1.229 1.229 0 001.245-.876l.067-.211a.133.133 0 000-.088l-2.145-5.471a.13.13 0 01.122-.18h1.04a.132.132 0 01.123.085l1.456 3.859a.131.131 0 00.125.088.133.133 0 00.125-.088l1.265-3.848a.13.13 0 01.126-.09h1.076a.134.134 0 01.132.116.133.133 0 01-.008.063l-2.295 6.076c-.528 1.413-1.433 1.773-2.43 1.773a1.96 1.96 0 01-.561-.066.132.132 0 01-.1-.14zM8.57 6.4a5.363 5.363 0 00-3.683 1.427.231.231 0 00-.029.31l.618.839a.236.236 0 00.276.084.237.237 0 00.086-.056 3.823 3.823 0 012.738-1.11c2.12 0 3.227 1.584 3.227 3.15 0 1.7-1.163 2.898-2.835 2.921-1.292 0-2.266-.85-2.266-1.974a1.908 1.908 0 01.713-1.48.231.231 0 00.033-.324l-.65-.815a.236.236 0 00-.339-.034c-.399.32-.72.724-.942 1.183a3.39 3.39 0 00-.337 1.47c0 1.935 1.655 3.452 3.775 3.464h.03c2.517-.032 4.337-1.884 4.337-4.415 0-2.247-1.667-4.64-4.752-4.64z" fill="#fff"></path></svg>
                  </li>
                  <li class="list-inline-item">  
                <svg class="payment-icon" viewBox="0 0 38 24" xmlns="http://www.w3.org/2000/svg" role="img" width="38" height="24" aria-labelledby="pi-visa"><title id="pi-visa">Visa</title><path opacity=".07" d="M35 0H3C1.3 0 0 1.3 0 3v18c0 1.7 1.4 3 3 3h32c1.7 0 3-1.3 3-3V3c0-1.7-1.4-3-3-3z"></path><path fill="#fff" d="M35 1c1.1 0 2 .9 2 2v18c0 1.1-.9 2-2 2H3c-1.1 0-2-.9-2-2V3c0-1.1.9-2 2-2h32"></path><path d="M28.3 10.1H28c-.4 1-.7 1.5-1 3h1.9c-.3-1.5-.3-2.2-.6-3zm2.9 5.9h-1.7c-.1 0-.1 0-.2-.1l-.2-.9-.1-.2h-2.4c-.1 0-.2 0-.2.2l-.3.9c0 .1-.1.1-.1.1h-2.1l.2-.5L27 8.7c0-.5.3-.7.8-.7h1.5c.1 0 .2 0 .2.2l1.4 6.5c.1.4.2.7.2 1.1.1.1.1.1.1.2zm-13.4-.3l.4-1.8c.1 0 .2.1.2.1.7.3 1.4.5 2.1.4.2 0 .5-.1.7-.2.5-.2.5-.7.1-1.1-.2-.2-.5-.3-.8-.5-.4-.2-.8-.4-1.1-.7-1.2-1-.8-2.4-.1-3.1.6-.4.9-.8 1.7-.8 1.2 0 2.5 0 3.1.2h.1c-.1.6-.2 1.1-.4 1.7-.5-.2-1-.4-1.5-.4-.3 0-.6 0-.9.1-.2 0-.3.1-.4.2-.2.2-.2.5 0 .7l.5.4c.4.2.8.4 1.1.6.5.3 1 .8 1.1 1.4.2.9-.1 1.7-.9 2.3-.5.4-.7.6-1.4.6-1.4 0-2.5.1-3.4-.2-.1.2-.1.2-.2.1zm-3.5.3c.1-.7.1-.7.2-1 .5-2.2 1-4.5 1.4-6.7.1-.2.1-.3.3-.3H18c-.2 1.2-.4 2.1-.7 3.2-.3 1.5-.6 3-1 4.5 0 .2-.1.2-.3.2M5 8.2c0-.1.2-.2.3-.2h3.4c.5 0 .9.3 1 .8l.9 4.4c0 .1 0 .1.1.2 0-.1.1-.1.1-.1l2.1-5.1c-.1-.1 0-.2.1-.2h2.1c0 .1 0 .1-.1.2l-3.1 7.3c-.1.2-.1.3-.2.4-.1.1-.3 0-.5 0H9.7c-.1 0-.2 0-.2-.2L7.9 9.5c-.2-.2-.5-.5-.9-.6-.6-.3-1.7-.5-1.9-.5L5 8.2z" fill="#142688"></path></svg>
                  </li>
            </ul>
          {%- else -%}
            {%- if section.settings.imgpayment != blank -%}
              <img class="lazyload" src="{%- include 'srcBlank' -%}" data-src="{{section.settings.imgpayment | img_url : '400x'}}" />
            {%- endif -%}
          {%- endif -%}
        </div>
      
      </div>
    </div>
  </div>
</footer>
{% schema %}
{
  "name": "Footer 1",
  "settings": [
  {
    "type": "select",
    "id": "setwidth",
    "label": "Full Width",
    "default": "container",
    "options": [
      {
        "value": "container",
        "label": "Box"
      },
      {
        "value": "container-fluid",
        "label": "Container Fluid"
      },
      {
        "value": "full",
        "label": "Full"
      }
    ]
  },
        {
          "type": "color",
          "id": "background",
          "label": "Background",
          "default": "#282828"
        },
        {
          "type": "color",
          "id": "border_headfooter",
          "label": "Border Top Head Footer",
          "default": "#f8f8f8"
        },
        {
          "type": "color",
          "id": "background_bot",
          "label": "Background bottom",
          "default": "#f8f8f8"
        },
        {
          "type": "color",
          "id": "border-copryright",
          "label": "Border Bottom Footer",
          "default": "#f8f8f8"
        },
        
        {
          "type": "color",
          "id": "text",
          "label": "Text",
          "default": "#fff"
        },
        {
          "type": "color",
          "id": "title",
          "label": "Title",
          "default": "#000"
        },
        {
          "type": "color",
          "id": "text_copy",
          "label": "Text Footer Bottom",
          "default": "#fff"
        },
        {
          "type": "select",
          "id": "payment_info",
          "label": "Payment Info",
          "default": "svg",
          "options": [
            {
              "value": "svg",
              "label": "Svg Payment"
            },
            {
              "value": "img",
              "label": "Image Payment"
            }
          ]
        },
        {
          "type": "image_picker",
          "id": "imgpayment",
          "label": "Image Payment"
        }
  ],
  "blocks": [
    {
      "type": "social",
      "name": "Social accounts",
      "limit": 1,
      "settings": [
        {
          "type": "text",
          "id": "title",
          "label": "Heading",
          "default": "Follow us"
        },
        {
            "type": "textarea",
            "id": "text_des2",
            "label": "Description 2",
            "default": "Description 2"
          },
        {
          "type": "radio",
          "id": "align",
          "label": "Icon alignment",
          "options": [
            {
              "value": "left",
              "label": "Left"
            },
            {
              "value": "center",
              "label": "Center"
            },
            {
              "value": "right",
              "label": "Right"
            }
          ],
          "default": "left"
        },
        {
          "type": "select",
          "id": "width",
          "label": "Container width",
          "default": "25%",
          "options": [
            {
              "value": "16%",
              "label": "16%"
            },
            {
              "value": "25%",
              "label": "25%"
            },
            {
              "value": "33%",
              "label": "33%"
            },
            {
              "value": "41%",
              "label": "41%"
            },
            {
              "value": "50%",
              "label": "50%"
            },
            {
              "value": "66%",
              "label": "66%"
            },
            {
              "value": "75%",
              "label": "75%"
            },
            {
              "value": "100%",
              "label": "100%"
            }
          ]
        }
      ]
    },
    {
      "type": "menu",
      "name": "Menu",
      "settings": [
        {
          "id": "link_list",
          "type": "link_list",
          "label": "Menu",
          "default": "footer",
          "info": "This menu won't show dropdown items"
        },
        {
          "type": "select",
          "id": "width",
          "label": "Container width",
          "default": "25%",
          "options": [
            {
              "value": "16%",
              "label": "16%"
            },
            {
              "value": "25%",
              "label": "25%"
            },
            {
              "value": "33%",
              "label": "33%"
            },
            {
              "value": "41%",
              "label": "41%"
            },
            {
              "value": "50%",
              "label": "50%"
            },
            {
              "value": "66%",
              "label": "66%"
            },
            {
              "value": "75%",
              "label": "75%"
            },
            {
              "value": "100%",
              "label": "100%"
            }
          ]
        }
      ]
    },
    {
      "type": "text",
      "name": "Text",
      "settings": [
        {
          "type": "image_picker",
          "id": "logofooter",
          "label": "Image"
        },
        {
          "type": "text",
          "id": "title",
          "label": "Heading",
          "default": "Text column"
        },
        {
          "type": "textarea",
          "id": "text",
          "label": "Text",
          "default": "<p>Share store details, promotions, or brand content with your customers</p>"
        },
        {
          "type": "select",
          "id": "width",
          "label": "Container width",
          "default": "25%",
          "options": [
            {
              "value": "16%",
              "label": "16%"
            },
            {
              "value": "25%",
              "label": "25%"
            },
            {
              "value": "33%",
              "label": "33%"
            },
            {
              "value": "41%",
              "label": "41%"
            },
            {
              "value": "50%",
              "label": "50%"
            },
            {
              "value": "66%",
              "label": "66%"
            },
            {
              "value": "75%",
              "label": "75%"
            },
            {
              "value": "100%",
              "label": "100%"
            }
          ]
        }
      ]
    },
    {
      "type": "newsletter",
      "name": "Newsletter",
      "limit": 1,
      "settings": [
        {
          "type": "text",
          "id": "title",
          "label": "Heading",
          "default": "Be in the know"
        },
        {
          "type": "richtext",
          "id": "subheading",
          "label": "Subheading",
          "default": "<p>Promotions, new products and sales. Directly to your inbox.</p>"
        },
        {
          "type": "checkbox",
          "id": "enablesocial",
          "label": "Enable Social",
          "default": true
        },
        {
          "type": "select",
          "id": "width",
          "label": "Container width",
          "default": "25%",
          "options": [
            {
              "value": "16%",
              "label": "16%"
            },
            {
              "value": "25%",
              "label": "25%"
            },
            {
              "value": "33%",
              "label": "33%"
            },
            {
              "value": "41%",
              "label": "41%"
            },
            {
              "value": "50%",
              "label": "50%"
            },
            {
              "value": "66%",
              "label": "66%"
            },
            {
              "value": "75%",
              "label": "75%"
            },
            {
              "value": "100%",
              "label": "100%"
            }
          ]
        }
      ]
    }
  ]
}
{% endschema %}