<!-- image-content-5.liquid -->
<style>
  .layout-dynamic .subtop, .layout-dynamic .section-title-1{
    text-align: left !important;
  }
</style>
<div class="customstyle{{ section.id }} layout-dynamic" data-aos="{{section.settings.animation}}">
    {%- include 'style-section' -%}
  <div class="{{ section.settings.setwidth }}">
    <div class="section-block">
      <div class="row d-block clearfix">
        <div class="layout-dynamic--item col-title" data-aos="{{section.settings.animation}}" data-aos-duration="800" >
            {%- include 'section-heading' -%}
        </div>
        {%- for block in section.blocks -%}
          <div class="layout-dynamic--item" {{ block.shopify_attributes }} data-aos="{{section.settings.animation}}" data-aos-duration="1000">
                <div>
                  {%- if block.settings.image != blank -%}
                    <noscript>
                      <img src="{{ block.settings.image | img_url: '600x' }}" alt="{{ block.settings.image.alt }}" class="image-content__image">
                    </noscript>
                    <div class="image-content__image-container">
                      <div class="image-content__image-wrapper" style="padding-top:{{ 1 | divided_by: block.settings.image.aspect_ratio | times: 100}}%;">
                        {% assign img_url = block.settings.image | img_url: '1x1' | replace: '_1x1.', '_{width}x.' %}
                        
                        {%- if block.settings.linkimage != blank -%}<a href="{{block.settings.linkimage}}"> {%- endif -%}
                        <img class="image-content__image lazyload"
                          src="{{ block.settings.image | img_url: '300x300' }}"
                          data-src="{{ img_url }}"
                          data-widths="[180, 360, 540, 720, 900, 1080, 1296, 1512, 1728, 1944, 2048]"
                          data-aspectratio="{{ block.settings.image.aspect_ratio }}"
                          data-sizes="auto"
                          alt="{{ block.settings.image.alt | escape }}">
                          {%- if block.settings.linkimage != blank -%}</a>{%- endif -%}
                      </div>
                      {%- if block.settings.texthtml -%}
                      <div class="py-3">
                        {{ block.settings.texthtml }}
                      </div>
                      {%- endif -%}
                    </div>
                  {%- else -%}
                    <div class="image-content__image">
                      {{ 'image' | placeholder_svg_tag: 'placeholder-svg' }}
                      <div class="py-3">
                        <h4>Html Description</h4>
                      </div>
                    </div>
                   
                  {%- endif -%}
                </div>
          </div>
        {%- endfor -%}
      </div>
  
      {%- if section.blocks.size == 0 -%}
        {%- include 'no-blocks' -%}
      {%- endif -%}
    </div>
  </div>
  </div>
  
  
  {% schema %}
  {
    "name": "Image with text style 5",
    "class": "index-section",
    "max_blocks": 4,
    "settings": [
    {
      "type": "select",
      "id": "animation",
      "options": [
        { "value": "", "label": "None"},
        { "value": "fade", "label": "Fade"},
        { "value": "fade-up", "label": "Fade Up"},
        { "value": "fade-down", "label": "Fade Down"},
        { "value": "fade-left", "label": "Fade Left"},
        { "value": "fade-right", "label": "Fade Right"},
        { "value": "fade-up-right", "label": "Fade Up Right"},
        { "value": "fade-up-left", "label": "Fade Up Left"},
        { "value": "fade-down-right", "label": "Fade Down Right"},
        { "value": "fade-down-left", "label": "Fade Down Left"},
        { "value": "flip-up", "label": "Flip Up"},
        { "value": "flip-down", "label": "Flip Down"},
        { "value": "flip-left", "label": "Flip Left"},
        { "value": "flip-right", "label": "Flip Right"},
        { "value": "slide-up", "label": "Slide Up"},
        { "value": "slide-down", "label": "Slide Down"},
        { "value": "slide-left", "label": "Slide Left"},
        { "value": "slide-right", "label": "Slide Right"},
        { "value": "zoom-in", "label": "Zoom In"},
        { "value": "zoom-in-up", "label": "Zoom In Up"},
        { "value": "zoom-in-down", "label": "Zoom In Down"},
        { "value": "zoom-in-left", "label": "Zoom In Left"},
        { "value": "zoom-in-right", "label": "Zoom In Right"},
        { "value": "zoom-out", "label": "Zoom Out"},
        { "value": "zoom-out-up", "label": "Zoom Out Up"},
        { "value": "zoom-out-down", "label": "Zoom Out Down"},
        { "value": "zoom-out-left", "label": "Zoom Out Feft"},
        { "value": "zoom-out-right", "label": "Zoom Out Right"}
      ],
      "label": "Select Animation"
  },
    {
      "type": "text",
      "id": "paddingsection",
      "label": "Padding Section",
      "default": "0px 0px 0px 0px",
      "info": "Padding: Top Right Bottom Left"
    },
    {
      "type": "text",
      "id": "paddingmobile",
      "label": "Padding Section Mobile",
      "default": "60px 0px 60px 0px",
      "info": "Padding: Top Right Bottom Left"
    },
    {
      "type": "text",
      "id": "marginsection",
      "label": "Margin Section",
      "default": "0px 0px 0px 0px",
      "info": "Margin: Top Right Bottom Left"
    },
    {
      "type": "text",
      "id": "marginmobile",
      "label": "Margin Mobile",
      "default": "0px 0px 0px 0px",
      "info": "Margin: Top Right Bottom Left"
    },
    {
      "type": "color",
      "id": "bgsection",
        "label": "Background Section",
        "default": "#fefefe"
    },
    {
      "type": "select",
      "id": "setwidth",
      "label": "Full Width",
      "default": "container",
      "options": [
        {
          "value": "container",
          "label": "Box"
        },
        {
          "value": "container-fluid",
          "label": "Container Fluid"
        },
        {
          "value": "full",
          "label": "Full"
        }
      ]
    },
    {
      "type": "color",
      "id": "titlecolor",
        "label": "Title Color",
        "default": "#373737"
    },
    {
      "type": "color",
      "id": "subcolor",
        "label": "Sub Title Color",
        "default": "#373737"
    },
    {
      "type": "text",
      "id": "title_top",
      "label": "Sub Title Top",
      "default": "Sub Title Top"
      },
      {
          "type": "text",
          "id": "title",
          "label": "Title",
          "default": "Custom content"
      },
      {
          "type": "textarea",
          "id": "des",
          "label": "HTML / Description"
      },
      {
        "type": "checkbox",
        "id": "align_center",
        "label": "Align Center",
        "default": true
      }
    ],
    "blocks": [
      {
        "type": "image_block",
        "name": "Image",
        "settings": [
          {
            "type": "image_picker",
            "id": "image",
            "label": "Image"
          },
          {
            "type": "url",
            "id": "linkimage",
            "label": "Image link to"
          },
          {
            "type": "textarea",
            "id": "texthtml",
            "label": "HTML / Description"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Image with text style 5",
        "category": "Image",
        "blocks": [
          {
            "type": "image_block"
          },
          {
            "type": "image_block"
          }
        ]
      }
    ]
  }
  {% endschema %}
  