<!-- image-content.liquid -->
<div class="customstyle{{ section.id }}" data-aos="{{section.settings.animation}}">
  {%- include 'style-section' -%}
<div class="{{ section.settings.setwidth }}">
  <div class="section-block">
    <div class="row {% if section.settings.enable_padding %}no-gutters {% endif%}">
      {%- case section.blocks.size -%}
        {%- when 1 -%}
          {%- assign flex_size = '' -%}
        {%- when 2 -%}
          {%- assign flex_size = 'col-md-6' -%}
        {%- when 3 -%}
          {%- assign flex_size = 'col-md-4' -%}
        {%- else -%}
          {%- assign flex_size = 'col-md-6' -%}
      {%- endcase -%}
      {%- for block in section.blocks -%}
        <div class="flex__item flex {% if section.settings.align_center %}flex--center-vertical{% endif %} {{ flex_size }}" {{ block.shopify_attributes }}>
          {%- case block.type -%}
            {%- when 'image_block' -%}
              <div class="flex__item">
                {%- if block.settings.image != blank -%}
                  <noscript>
                    <img src="{{ block.settings.image | img_url: '600x' }}" alt="{{ block.settings.image.alt }}" class="image-content__image">
                  </noscript>
                  <div class="image-content__image-container">
                    <div class="image-content__image-wrapper" style="padding-top:{{ 1 | divided_by: block.settings.image.aspect_ratio | times: 100}}%;">
                      {% assign img_url = block.settings.image | img_url: '1x1' | replace: '_1x1.', '_{width}x.' %}
                      <img class="image-content__image lazyload"
                        src="{{ block.settings.image | img_url: '300x300' }}"
                        data-src="{{ img_url }}"
                        data-widths="[180, 360, 540, 720, 900, 1080, 1296, 1512, 1728, 1944, 2048]"
                        data-aspectratio="{{ block.settings.image.aspect_ratio }}"
                        data-sizes="auto"
                        alt="{{ block.settings.image.alt | escape }}">
                    </div>
                  </div>
                {%- else -%}
                  <div class="image-content__image">
                    {{ 'image' | placeholder_svg_tag: 'placeholder-svg' }}
                  </div>
                {%- endif -%}
              </div>
            {%- when 'text_block' -%}
              <div class="h-100 flex  w-100 {% if section.settings.align_center %}flex--center-vertical{% endif %}" style="background-color:{{block.settings.bgtext}} ;">
                <div class="flex__item image-content__text text-{{ block.settings.align }}">
                  <h2 class="mb-3 font-family-1">{{ block.settings.title}}</h2>
                  <div class="rte-setting">{{ block.settings.text }}</div>
                </div>
              </div>
          {%- endcase -%}
        </div>
      {%- endfor -%}
    </div>

    {%- if section.blocks.size == 0 -%}
      {%- include 'no-blocks' -%}
    {%- endif -%}
  </div>
</div>
</div>


{% schema %}
{
  "name": "Image with text",
  "class": "index-section",
  "max_blocks": 4,
  "settings": [
  {
    "type": "select",
    "id": "animation",
    "options": [
      { "value": "", "label": "None"},
      { "value": "fade", "label": "Fade"},
      { "value": "fade-up", "label": "Fade Up"},
      { "value": "fade-down", "label": "Fade Down"},
      { "value": "fade-left", "label": "Fade Left"},
      { "value": "fade-right", "label": "Fade Right"},
      { "value": "fade-up-right", "label": "Fade Up Right"},
      { "value": "fade-up-left", "label": "Fade Up Left"},
      { "value": "fade-down-right", "label": "Fade Down Right"},
      { "value": "fade-down-left", "label": "Fade Down Left"},
      { "value": "flip-up", "label": "Flip Up"},
      { "value": "flip-down", "label": "Flip Down"},
      { "value": "flip-left", "label": "Flip Left"},
      { "value": "flip-right", "label": "Flip Right"},
      { "value": "slide-up", "label": "Slide Up"},
      { "value": "slide-down", "label": "Slide Down"},
      { "value": "slide-left", "label": "Slide Left"},
      { "value": "slide-right", "label": "Slide Right"},
      { "value": "zoom-in", "label": "Zoom In"},
      { "value": "zoom-in-up", "label": "Zoom In Up"},
      { "value": "zoom-in-down", "label": "Zoom In Down"},
      { "value": "zoom-in-left", "label": "Zoom In Left"},
      { "value": "zoom-in-right", "label": "Zoom In Right"},
      { "value": "zoom-out", "label": "Zoom Out"},
      { "value": "zoom-out-up", "label": "Zoom Out Up"},
      { "value": "zoom-out-down", "label": "Zoom Out Down"},
      { "value": "zoom-out-left", "label": "Zoom Out Feft"},
      { "value": "zoom-out-right", "label": "Zoom Out Right"}
    ],
    "label": "Select Animation"
},
  {
    "type": "text",
    "id": "paddingsection",
    "label": "Padding Section",
    "default": "0px 0px 0px 0px",
    "info": "Padding: Top Right Bottom Left"
  },
  {
    "type": "text",
    "id": "paddingmobile",
    "label": "Padding Section Mobile",
    "default": "60px 0px 60px 0px",
    "info": "Padding: Top Right Bottom Left"
  },
  {
    "type": "text",
    "id": "marginsection",
    "label": "Margin Section",
    "default": "0px 0px 0px 0px",
    "info": "Margin: Top Right Bottom Left"
  },
  {
    "type": "text",
    "id": "marginmobile",
    "label": "Margin Mobile",
    "default": "0px 0px 0px 0px",
    "info": "Margin: Top Right Bottom Left"
  },
  {
    "type": "color",
    "id": "bgsection",
      "label": "Background Section",
      "default": "#fefefe"
  },
  {
    "type": "select",
    "id": "setwidth",
    "label": "Full Width",
    "default": "container",
    "options": [
      {
        "value": "container",
        "label": "Box"
      },
      {
        "value": "container-fluid",
        "label": "Container Fluid"
      },
      {
        "value": "full",
        "label": "Full"
      }
    ]
  },
  {
    "type": "checkbox",
    "id": "enable_padding",
    "label": "Enable Padding",
    "default": true
  },
    {
      "type": "checkbox",
      "id": "align_center",
      "label": "Align Center",
      "default": true
    }
  ],
  "blocks": [
    {
      "type": "text_block",
      "name": "Text",
      "settings": [
        {
          "type": "color",
          "id": "bgtext",
            "label": "Background Text Block",
            "default": "#fefefe"
        },
        {
          "type": "text",
          "id": "title",
          "label": "Heading",
          "default": "Image with text"
        },
        {
          "type": "html",
          "id": "text",
          "label": "HTML / Description",
          "default": "<p>Pair large text with an image to give focus to your chosen product, collection, or blog post. Add details on availability, style, or even provide a review.</p>"
        },
        {
          "type": "select",
          "id": "align",
          "label": "Text alignment",
          "options": [
            {
              "value": "left",
              "label": "Left"
            },
            {
              "value": "center",
              "label": "Center"
            },
            {
              "value": "right",
              "label": "Right"
            }
          ],
          "default": "left"
        }
      ]
    },
    {
      "type": "image_block",
      "name": "Image",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Image with text",
      "category": "Image",
      "blocks": [
        {
          "type": "image_block"
        },
        {
          "type": "text_block"
        },
        {
          "type": "image_block"
        }
      ]
    }
  ]
}
{% endschema %}
