<!-- masonry-banner.liquid -->
<style>
  .banner-theme  h3 {
    font-size: 24px;
    line-height: 25px;
    font-weight: bold;
  }
</style>
<div class="customstyle{{ section.id }}" >
  {%- include 'style-section' -%}
  <div class="{{ section.settings.setwidth }}">
    <div class="section-block">
      {%- include 'section-heading' -%}
      <div class="js-masonry row" data-section-id="{{ section.id }}" data-section-type="masonries" style="opacity:0">
        <div class="grid-sizer"></div>
        {%- for block in section.blocks -%}
        <div class="grid-item grid-item-{{block.id}}" {{ block.shopify_attributes }} data-aos="{{section.settings.animation}}" >
          {%- case block.type -%}
            {%- when 'html' -%}
            {{ block.settings.code }}
            {%- when 'banner' -%}
              <figure class="banner-theme hv-image-saturate banner-theme-{{block.settings.vertical}} banner-theme-{{block.settings.horizontal}} text-{{block.settings.text_align}}">
                {%- if block.settings.image != blank -%}
                <img src="{%- include 'srcBlank' -%}" class="lazyload transition" data-src="{{block.settings.image | img_url:'960x'}}">
                {%- else -%}
                {{ 'image' | placeholder_svg_tag: 'placeholder-svg' }}
                {%- endif -%}
                <figcaption class="figcaption--{{block.id}}">
                  {%- if block.settings.description -%}
                  {{block.settings.description}}
                  {%- endif -%}
                  {%- if block.settings.button_text != blank -%}
                  <button class="btn btn-theme btn-nobackground-white gradient-theme ">
                    <span class="px-2">{{block.settings.button_text}}</span>
                    {{block.settings.button_icon}}
                  </button>
                  {%- endif -%}
                </figcaption>		
                {%- if block.settings.button_link != blank -%}
                <a href="{{block.settings.button_link}}"></a>
                {%- endif -%}
              </figure>
            {%- endcase -%}
          <style>
            .grid-item-{{block.id}}{width:{{block.settings.width}}%}
            /* Custom caption width, default value is 290px */
            .figcaption--{{block.id}}{max-width:{{block.settings.max-width}}px !important;}.banner-theme-center .figcaption--{{block.id}}{margin-left: -{{block.settings.max-width | divided_by:2}}px !important}
          </style>
        </div>
        {%- endfor -%}
      </div>
    </div>
  </div>
</div>

{% schema %}
{
  "name": "Masonry banner",
  "class": "index-section",
  "settings": [
  {
      "type": "select",
      "id": "animation",
      "options": [
        { "value": "", "label": "None"},
        { "value": "fade", "label": "Fade"},
        { "value": "fade-up", "label": "Fade Up"},
        { "value": "fade-down", "label": "Fade Down"},
        { "value": "fade-left", "label": "Fade Left"},
        { "value": "fade-right", "label": "Fade Right"},
        { "value": "fade-up-right", "label": "Fade Up Right"},
        { "value": "fade-up-left", "label": "Fade Up Left"},
        { "value": "fade-down-right", "label": "Fade Down Right"},
        { "value": "fade-down-left", "label": "Fade Down Left"},
        { "value": "flip-up", "label": "Flip Up"},
        { "value": "flip-down", "label": "Flip Down"},
        { "value": "flip-left", "label": "Flip Left"},
        { "value": "flip-right", "label": "Flip Right"},
        { "value": "slide-up", "label": "Slide Up"},
        { "value": "slide-down", "label": "Slide Down"},
        { "value": "slide-left", "label": "Slide Left"},
        { "value": "slide-right", "label": "Slide Right"},
        { "value": "zoom-in", "label": "Zoom In"},
        { "value": "zoom-in-up", "label": "Zoom In Up"},
        { "value": "zoom-in-down", "label": "Zoom In Down"},
        { "value": "zoom-in-left", "label": "Zoom In Left"},
        { "value": "zoom-in-right", "label": "Zoom In Right"},
        { "value": "zoom-out", "label": "Zoom Out"},
        { "value": "zoom-out-up", "label": "Zoom Out Up"},
        { "value": "zoom-out-down", "label": "Zoom Out Down"},
        { "value": "zoom-out-left", "label": "Zoom Out Feft"},
        { "value": "zoom-out-right", "label": "Zoom Out Right"}
      ],
      "label": "Select Animation"
  },
    {
      "type": "text",
      "id": "paddingsection",
      "label": "Padding Section",
      "default": "30px 0px 0px 0px",
      "info": "Padding: Top Right Bottom Left"
    },
    {
      "type": "text",
      "id": "marginsection",
      "label": "Margin Section",
      "default": "0px 0px 0px 0px",
      "info": "Margin: Top Right Bottom Left"
    },
    {
      "type": "text",
      "id": "paddingmobile",
      "label": "Padding Section Mobile",
      "default": "0px 0px 0px 0px",
      "info": "Padding: Top Right Bottom Left"
    },
    {
      "type": "text",
      "id": "marginmobile",
      "label": "Margin Section Mobile",
      "default": "0px 0px 0px 0px",
      "info": "Margin: Top Right Bottom Left"
    },
    {
      "type": "color",
      "id": "bgsection",
        "label": "Background Section",
        "default": "#fefefe"
    },
    {
      "type": "color",
      "id": "titlecolor",
        "label": "Title Color",
        "default": "#373737"
    },
    {
      "type": "text",
      "id": "title",
      "label": "Title",
      "default": "Masonry banner"
    },
    {
      "type": "textarea",
      "id": "des",
      "label": "HTML / Description"
    },
    {
        "type": "select",
        "id": "setwidth",
        "label": "Full Width",
        "default": "container",
        "options": [
          {
            "value": "container",
            "label": "Box"
          },
          {
            "value": "container-fluid",
            "label": "Container Fluid"
          },
          {
            "value": "full",
            "label": "Full"
          }
        ]
      }
  ],
  "blocks": [
    {
        "type": "html",
        "name": "Custom HTML",
        "settings": [
          {
            "type": "range",
            "id": "width",
            "min": 1,
            "max": 100,
            "step": 1,
            "unit": "%",
            "label": "Width", 
            "default": 33
          },
          {
            "type": "textarea",
            "id": "code",
            "label": "HTML",
            "default": "<h2>Use HTML to format your text so it can be easily read.</h2>This text can be used to share information about your brand with customers."
          },
          {
            "type": "select",
            "id": "align",
            "label": "Align",
            "default": "auto",
            "options": [
              {
                "value": "auto",
                "label": "Top"
              },
              {
                "value": "center",
                "label": "Mid"
              },
              {
                "value": "end",
                "label": "Bottom"
              }
            ]
          }
        ]
      },
    {
      "type": "banner",
      "name": "Banner",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        },
        {
          "type": "range",
          "id": "width",
          "min": 1,
          "max": 100,
          "step": 1,
          "unit": "%",
          "label": "Width",
          "default": 33
        },
        {
          "type": "textarea",
          "id": "description",
          "label": "HTML / Description",
          "default": "<h3 class='mb-2'>Banner title</h3><p>Lorem ipsum dolor sit amet</p>",
		  "info":"💡 [HTML Buider.](https:\/\/ap2020.myshopify.com\/pages\/html-builder)"
        },
        {
          "type": "range",
          "id": "max-width",
          "min": 280,
          "max": 800,
          "step": 10,
          "unit": "px",
          "label": "Desciption max width",
          "default": 290
        },
        {
          "type": "text",
          "id": "button_text",
          "label": "Button text",
          "default": "View more"
        },
        {
          "type": "text",
          "id": "button_icon",
          "label": "Button icon",
		  "info":"💡 [SVG Icon.](https:\/\/ap2020.myshopify.com\/pages\/html-builder#html-icon)"
        },
        {
          "type": "url",
          "id": "button_link",
          "label": "Button link"
        },
      {
        "type": "select",
        "id": "vertical",
        "label": "Vertical align",
        "default": "bottom",
        "options": [
          {
            "value": "top",
            "label": "Top"
          },
          {
            "value": "mid",
            "label": "Mid"
          },
          {
            "value": "bottom",
            "label": "Bottom"
          }
        ]
      },
      {
        "type": "select",
        "id": "horizontal",
        "label": "Horizontal align",
        "default": "center",
        "options": [
          {
            "value": "left",
            "label": "Left"
          },
          {
            "value": "center",
            "label": "Center"
          },
          {
            "value": "right",
            "label": "Right"
          }
        ]
      },
      {
        "type": "select",
        "id": "text_align",
        "label": "Text align",
        "default": "center",
        "options": [
          {
            "value": "left",
            "label": "Left"
          },
          {
            "value": "center",
            "label": "Center"
          },
          {
            "value": "right",
            "label": "Right"
          }
        ]
      }
      ]
    }
  ],
  "presets": [
    {
      "name": "Masonry banner",
      "category": "Image",
      "blocks": [
        {
          "type": "banner"
        },
        {
          "type": "banner"
        },
        {
          "type": "banner"
        }
      ]
    }
  ]
}
{% endschema %}