<!-- newsletter.liquid -->
<style>
  .customstyle{{ section.id }} .form-group .form-control{
    border-color:{{section.settings.colorborder}};
    background-color:{{section.settings.bginput}};
    border-width:1px 1px 1px 1px;
    padding-left: 10px;
    height: 50px;
  }
  .customstyle{{ section.id }}{
      padding: {{section.settings.paddingsection}};
      margin: {{section.settings.marginsection}}
      background-color:{{section.settings.bgsection}};
      background-repeat: no-repeat;
  }
  @media (max-width:767px){
    .customstyle{{ section.id }}{
      padding: {{section.settings.paddingmobile}};
      margin: {{section.settings.marginmobile}}
    }

  }
  @media (min-width:991px){
    #contact_form .input-group {
          width: 100%!important;
    }
    .form-vertical {
      max-width: 80%;
      margin: auto;
    }
  }
</style>

<div class="customstyle{{ section.id }} {% if section.settings.cover_newsletter != blank %} lazyload {% endif %} " {% if section.settings.cover_newsletter != blank %} data-bg="{{ section.settings.cover_newsletter | img_url:"1920x" }}" data-sizes="auto"
            data-parent-fit="{{section.settings.cover}}" {% endif %} data-aos="{{section.settings.animation}}" >
  <div class="{{ section.settings.setwidth }} text-center">
    <div class="row d-flex justify-content-center">
      <div class="col-lg-9">
        <div class="p-4 p-md-4">
          {%- include 'section-heading' -%} 
            <div class="form-vertical px-md-5">
              {%- form 'customer' -%}
                {{ form.errors | default_errors }}
                {%- if form.posted_successfully? -%}
                  <p class="form-success">{{ 'general.newsletter_form.confirmation' | t }}</p>
                {%- else -%}
                  <input type="hidden" name="contact[tags]" value="newsletter">
                  <label for="NewsletterEmail-{{ block.id }}" class="label--hidden">{{ 'general.newsletter_form.newsletter_label' | t }}</label>
                  <div class=" form-group text-center input-group ">
                    <input class="form-control" type="email" value="{% if customer %}{{ customer.email }}{% endif %}" placeholder="{{ 'general.newsletter_form.newsletter_placeholder' | t }}" name="contact[email]" id="NewsletterEmail-{{ block.id }}" autocorrect="off" autocapitalize="off">
                    <div class="input-group-append pl-3">
                      <button type="submit" class="btn btn-theme" name="commit">
                        <span class="d-none d-sm-block">{{ 'general.newsletter_form.submit' | t }}</span>
                        <span class="d-block d-sm-none"><i class="icon-send"></i></span>
                      </button>
                    </div>
                  </div>
                {%- endif -%}
              {%- endform -%}
            </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% schema %}
{
  "name": "Newsletter",
  "class": "index-section",
  "settings": [
  {
    "type": "select",
    "id": "animation",
    "options": [
      { "value": "", "label": "None"},
      { "value": "fade", "label": "Fade"},
      { "value": "fade-up", "label": "Fade Up"},
      { "value": "fade-down", "label": "Fade Down"},
      { "value": "fade-left", "label": "Fade Left"},
      { "value": "fade-right", "label": "Fade Right"},
      { "value": "fade-up-right", "label": "Fade Up Right"},
      { "value": "fade-up-left", "label": "Fade Up Left"},
      { "value": "fade-down-right", "label": "Fade Down Right"},
      { "value": "fade-down-left", "label": "Fade Down Left"},
      { "value": "flip-up", "label": "Flip Up"},
      { "value": "flip-down", "label": "Flip Down"},
      { "value": "flip-left", "label": "Flip Left"},
      { "value": "flip-right", "label": "Flip Right"},
      { "value": "slide-up", "label": "Slide Up"},
      { "value": "slide-down", "label": "Slide Down"},
      { "value": "slide-left", "label": "Slide Left"},
      { "value": "slide-right", "label": "Slide Right"},
      { "value": "zoom-in", "label": "Zoom In"},
      { "value": "zoom-in-up", "label": "Zoom In Up"},
      { "value": "zoom-in-down", "label": "Zoom In Down"},
      { "value": "zoom-in-left", "label": "Zoom In Left"},
      { "value": "zoom-in-right", "label": "Zoom In Right"},
      { "value": "zoom-out", "label": "Zoom Out"},
      { "value": "zoom-out-up", "label": "Zoom Out Up"},
      { "value": "zoom-out-down", "label": "Zoom Out Down"},
      { "value": "zoom-out-left", "label": "Zoom Out Feft"},
      { "value": "zoom-out-right", "label": "Zoom Out Right"}
    ],
    "label": "Select Animation"
  },
  {
    "type": "text",
    "id": "paddingsection",
    "label": "Padding Section",
    "default": "0px 0px 0px 0px",
    "info": "Padding: Top Right Bottom Left"
  },
  {
    "type": "text",
    "id": "paddingmobile",
    "label": "Padding Section Mobile",
    "default": "60px 0px 60px 0px",
    "info": "Padding: Top Right Bottom Left"
  },
  {
    "type": "text",
    "id": "marginsection",
    "label": "Margin Section",
    "default": "0px 0px 0px 0px",
    "info": "Margin: Top Right Bottom Left"
  },
  {
    "type": "text",
    "id": "marginmobile",
    "label": "Margin Mobile",
    "default": "0px 0px 0px 0px",
    "info": "Margin: Top Right Bottom Left"
  },
  {
    "type": "color",
    "id": "bgsection",
      "label": "Background Section",
      "default": "#fefefe"
  },
  {
    "type": "image_picker",
    "id": "cover_newsletter",
    "label": "Background Image"
  },
  {
    "type": "select",
    "id": "cover",
    "label": "Background Style",
    "default": "cover",
    "options": [
      {
        "value": "contain",
        "label": "Contain"
      },
      {
        "value": "cover",
        "label": "Cover"
      }
    ]
  },
  {
    "type": "color",
    "id": "titlecolor",
      "label": "Title Color",
      "default": "#373737"
  },
  {
    "type": "color",
    "id": "subcolor",
      "label": "Sub Title Color",
      "default": "#373737"
  },
  {
    "type": "text",
    "id": "title_top",
    "label": "Sub Title Top",
    "default": "Sub Title Top"
  },
    {
      "type": "text",
      "id": "title",
      "label": "Heading",
      "default": "Title Newletters"
    },
    {
      "type": "textarea",
      "id": "des",
      "label": "HTML / Description"
    },
    {
      "type": "select",
      "id": "setwidth",
      "label": "Full Width",
      "default": "container",
      "options": [
        {
          "value": "container",
          "label": "Box"
        },
        {
          "value": "container-fluid",
          "label": "Container Fluid"
        },
        {
          "value": "full",
          "label": "Full"
        }
      ]
    },
    {
    "type": "color",
      "id": "bginput",
      "label": "Background Input",
      "default": "#fff"
    },
    {
      "type": "color",
      "id": "colorborder",
        "label": "Border Color Input",
        "default": "#fff"
    }
  ],
  "presets": [
    {
      "name": "Newsletter",
      "category": "Promotional"
    }
  ]
}
{% endschema %}
