<!-- quotes.liquid -->
<div class="customstyle{{ section.id }} " data-aos={{section.settings.animation}}>
  {%- include 'style-section' -%}
<div class="{{ section.settings.setwidth }}">
  <div class="section-block">
    {%- include 'section-heading' -%}
    {%- if section.blocks.size > 0 -%}
    <div class="quotes-wrapper dots-negative " data-aos={{section.settings.animation}} data-aos-delay="200"> 
      <div class="quotes-slider row" id="Quotes-{{ section.id }}" 
           data-rows="{{section.settings.rows}}"
           data-slidesToShow="{{section.settings.show}}"
           data-slidestoscroll="{{section.settings.show}}"
           data-arrows="{{ section.settings.arrows }}"
           data-dots="{{ section.settings.dots }}" 
           data-draggable="{{ section.settings.draggable }}" 
           data-infinite="{{ section.settings.infinite }}" 
           data-section-id="{{ section.id }}" 
           data-section-type="slickCarousels">
        {%- for block in section.blocks -%}
        <div class="quote__slide-wrapper carousel__slide-wrapper--{{ block.id }}" {{ block.shopify_attributes }}>
          <div class="quote__slide {{section.settings.aligntext}} ">
            <div class="quote-wrap">
              {%- if block.settings.title != blank -%}
              <h4>
                {{ block.settings.title }}
              </h4>
              {%- endif -%}
              <div class=" py-2 "><p>{{ block.settings.quote }}</p></div>
              {%- if block.settings.rate > 0 -%}
              <ul class="rating">
                {%- for i in (1..5) -%}
                {%- assign iMax = block.settings.rate -%}
                {%- if i <= iMax -%}
                <li class="rated">
                  {%- else -%}
                <li>
                  {%- endif -%}
                  {%- endfor -%}
              </ul>
              {%- endif -%}
              {%- if block.settings.avatar != blank -%}
              <div class="author-avatar">
                <img class="lazyload" src="{%- include 'srcBlank' -%}" data-src="{{block.settings.avatar | img_url : '300x'}}" />
              </div>
              {%- endif -%}
              <div class="mt-4 text-uppercase font-weight-bold">{{ block.settings.author }}{%- if block.settings.info != blank -%}<span class="text-secondary capitalize small pl-2"> / {{ block.settings.info }}</span>{%- endif -%} </div>
              
            </div>
          </div>
        </div>
        {%- endfor -%}
      </div>
    </div>
    {%- endif -%}

    {%- if section.blocks.size == 0 -%}
    {%- include 'no-blocks' -%}
    {%- endif -%}
  </div>
</div>
</div>

{% schema %}
{
  "name": "Testimonials",
  "class": "index-section",
  "max_blocks": 10,
  "settings": [
  {
    "type": "select",
    "id": "animation",
    "options": [
      { "value": "", "label": "None"},
      { "value": "fade", "label": "Fade"},
      { "value": "fade-up", "label": "Fade Up"},
      { "value": "fade-down", "label": "Fade Down"},
      { "value": "fade-left", "label": "Fade Left"},
      { "value": "fade-right", "label": "Fade Right"},
      { "value": "fade-up-right", "label": "Fade Up Right"},
      { "value": "fade-up-left", "label": "Fade Up Left"},
      { "value": "fade-down-right", "label": "Fade Down Right"},
      { "value": "fade-down-left", "label": "Fade Down Left"},
      { "value": "flip-up", "label": "Flip Up"},
      { "value": "flip-down", "label": "Flip Down"},
      { "value": "flip-left", "label": "Flip Left"},
      { "value": "flip-right", "label": "Flip Right"},
      { "value": "slide-up", "label": "Slide Up"},
      { "value": "slide-down", "label": "Slide Down"},
      { "value": "slide-left", "label": "Slide Left"},
      { "value": "slide-right", "label": "Slide Right"},
      { "value": "zoom-in", "label": "Zoom In"},
      { "value": "zoom-in-up", "label": "Zoom In Up"},
      { "value": "zoom-in-down", "label": "Zoom In Down"},
      { "value": "zoom-in-left", "label": "Zoom In Left"},
      { "value": "zoom-in-right", "label": "Zoom In Right"},
      { "value": "zoom-out", "label": "Zoom Out"},
      { "value": "zoom-out-up", "label": "Zoom Out Up"},
      { "value": "zoom-out-down", "label": "Zoom Out Down"},
      { "value": "zoom-out-left", "label": "Zoom Out Feft"},
      { "value": "zoom-out-right", "label": "Zoom Out Right"}
    ],
    "label": "Select Animation"
},
  {
    "type": "text",
    "id": "paddingsection",
    "label": "Padding Section",
    "default": "0px 0px 0px 0px",
    "info": "Padding: Top Right Bottom Left"
  },
  {
    "type": "text",
    "id": "paddingmobile",
    "label": "Padding Section Mobile",
    "default": "60px 0px 60px 0px",
    "info": "Padding: Top Right Bottom Left"
  },
  {
    "type": "text",
    "id": "marginsection",
    "label": "Margin Section",
    "default": "0px 0px 0px 0px",
    "info": "Margin: Top Right Bottom Left"
  },
  {
    "type": "text",
    "id": "marginmobile",
    "label": "Margin Mobile",
    "default": "0px 0px 0px 0px",
    "info": "Margin: Top Right Bottom Left"
  },
  {
    "type": "color",
    "id": "bgsection",
      "label": "Background Section",
      "default": "#fefefe"
  },
  {
    "type": "color",
    "id": "titlecolor",
      "label": "Title Color",
      "default": "#373737"
  },
  {
    "type": "color",
    "id": "subcolor",
      "label": "Sub Title Color",
      "default": "#373737"
  },
  {
    "type": "text",
    "id": "title_top",
    "label": "Sub Title Top",
    "default": "Sub Title Top"
  },
    {
      "type": "text",
      "id": "title",
      "label": "Title",
      "default": "User reviews"
    },
    {
      "type": "textarea",
      "id": "des",
      "label": "HTML / Description"
    },
    {
      "type": "select",
      "id": "setwidth",
      "label": "Full Width",
      "default": "container",
      "options": [
        {
          "value": "container",
          "label": "Box"
        },
        {
          "value": "container-fluid",
          "label": "Container Fluid"
        },
        {
          "value": "full",
          "label": "Full"
        }
      ]
    },
    {
      "type": "select",
      "id": "aligntext",
      "label": "Text Align ",
      "default": "text-left",
      "options": [
        {
          "value": "text-left",
          "label": "Left"
        },
        {
          "value": "text-center",
          "label": "Center"
        },
        {
          "value": "text-right",
          "label": "Right"
        }
      ]
    },
    {
      "type": "range",
      "id": "show",
      "min": 1,
      "max": 4,
      "step": 1,
      "label": "Show",
      "default": 1
    },
    {
      "type": "checkbox",
      "id": "arrows",
      "label": "Arrows",
      "default": false
    },
    {
      "type": "checkbox",
      "id": "draggable",
      "label": "Draggable",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "dots",
      "label": "Dots",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "infinite",
      "label": "Infinite",
      "default": true
    }
  ],
  "blocks": [
    {
      "type": "quote",
      "name": "Quote",
      "settings": [
        {
          "type": "text",
          "id": "title",
          "label": "Comment",
          "default": "Comment"
        },
       
        {
          "type": "image_picker",
          "id": "avatar",
          "label": "Avatar"
        },
        {
          "type": "text",
          "id": "author",
          "label": "Author",
          "default": "Author's name"
        },
        {
          "type": "text",
          "id": "info",
          "label": "Author's info"
        },
        {
        "type": "range",
        "id": "rate",
        "min": 0,
        "max": 5,
        "step": 1,
        "label": "Rating",
        "default": 5
        },
        {
         "type": "textarea",
         "id": "quote",
         "label": "Text",
         "default": "Add customer reviews and testimonials to showcase your store’s happy customers."
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Testimonials",
      "category": "Text",
      "blocks": [
        {
          "type": "quote"
        },
        {
          "type": "quote"
        },
        {
          "type": "quote"
        }
      ]
    }
  ]
}
{% endschema %}
