{%- if section.settings.enablesection -%}
<!-- video.liquid -->
<!-- {%- if section.settings.cover_image -%}
<style>
  #VideoSection--{{ section.id }} .video-section__cover-background {
    background-image: url({{ section.settings.cover_image | img_url: '1920x' | format: 'jpg' }});
    background-position: {{ section.settings.cover_image_position }};
  }
</style>
{%- endif -%} -->

{%- if section.settings.show_overlay -%}
  <style>
    #VideoSection--{{ section.id }} .video-section__cover-text {
      color: {{ section.settings.overlay_text }};
    }
    #VideoSection--{{ section.id }} .video-section__load-player-button-triangle {
      border-left-color: {{ section.settings.overlay_text }};
    }
    #VideoSection--{{ section.id }} .video-section__load-player-button.animated .video-section__load-player-button-circle,
    #VideoSection--{{ section.id }} .video-section__load-player-button-circle {
      border-color: {{ section.settings.overlay_text }};
    }
    #VideoSection--{{ section.id }} .video-section__cover-overlay {
      background-color: {{ section.settings.overlay_color }};
      opacity: {{ section.settings.overlay_opacity | divided_by: 100.0 }};
    }
  </style>
{%- endif -%}

<div class="{{ section.settings.setwidth }}" data-aos={{section.settings.animation}} >
  <div id="VideoSection--{{ section.id }}" class="video-section video-section--{{ section.settings.cover_image_height }}" data-section-id="{{ section.id }}" data-section-type="video" data-video-id="{{ section.settings.video_url.id }}" data-video-type="{{ section.settings.video_url.type }}">
    <div class="video-section__body-overlay"></div>
    <div class="video-section__modal">
      <div class="video-wrapper">
        <button class="video-section__player-close">
          <span class="visually-hidden">{{ 'video.close' | t }}</span>
          {%- include 'icon-close' -%}
        </button>
        <div class="video-section__player"></div>
      </div>
    </div>
    <div class="video-section__cover">
      <div class="video-section__cover-background">
        {%- if section.settings.cover_image == blank -%}
          {{ 'lifestyle-1' | placeholder_svg_tag: 'placeholder-svg' }}
        {%- else -%}
        <div class="position-relative image-content__image-wrapper" style="padding-top:{{ 1 | divided_by: section.settings.cover_image.aspect_ratio | times: 100}}%;">
          {% assign img_url = section.settings.cover_image | img_url: '1x1' | replace: '_1x1.', '_{width}x.' %}
          <img class="image-content__image lazyload"
              src="{{ section.settings.cover_image | img_url: '1920x' }}"
              data-src="{{ img_url }}"
              data-widths="[180, 360, 540, 720, 900, 1080, 1296, 1512, 1728, 1944, 2048]"
              data-aspectratio="{{ section.settings.cover_image.aspect_ratio }}"
              data-sizes="auto"
              alt="{{ section.settings.cover_image.alt | escape }}">
            
        </div>
        {%- endif -%}
      </div>
      <div class="video-section__cover-overlay"></div>
      <div class="video-section__cover-content">
        <button class="video-section__load-player-button video-section__load-player-button--large">
          <span class="visually-hidden">{{ 'video.play' | t }}</span>
          <div class="video-section__load-player-icon">
            <div class="video-section__load-player-mark">
              <!-- <div class="anim-mark"></div>
              <div class="anim-mark anim-mark2"></div> -->
            </div>
            <div class="video-section__load-player-button-circle"></div>
            <div class="video-section__load-player-button-triangle"></div>
          </div>
          
        </button>
        <p class="video-section__error"></p>
      </div>
    </div>
  </div>
</div>
{%- endif -%}

{% schema %}
{
  "name": "Video Page 2-1",
  "class": "index-section index-section--video",
  "settings": [
    {
        "type": "checkbox",
        "id": "enablesection",
        "label": "Enable This Section",
        "default": true
    },
    {
      "type": "select",
      "id": "animation",
      "options": [
        { "value": "", "label": "None"},
        { "value": "fade", "label": "Fade"},
        { "value": "fade-up", "label": "Fade Up"},
        { "value": "fade-down", "label": "Fade Down"},
        { "value": "fade-left", "label": "Fade Left"},
        { "value": "fade-right", "label": "Fade Right"},
        { "value": "fade-up-right", "label": "Fade Up Right"},
        { "value": "fade-up-left", "label": "Fade Up Left"},
        { "value": "fade-down-right", "label": "Fade Down Right"},
        { "value": "fade-down-left", "label": "Fade Down Left"},
        { "value": "flip-up", "label": "Flip Up"},
        { "value": "flip-down", "label": "Flip Down"},
        { "value": "flip-left", "label": "Flip Left"},
        { "value": "flip-right", "label": "Flip Right"},
        { "value": "slide-up", "label": "Slide Up"},
        { "value": "slide-down", "label": "Slide Down"},
        { "value": "slide-left", "label": "Slide Left"},
        { "value": "slide-right", "label": "Slide Right"},
        { "value": "zoom-in", "label": "Zoom In"},
        { "value": "zoom-in-up", "label": "Zoom In Up"},
        { "value": "zoom-in-down", "label": "Zoom In Down"},
        { "value": "zoom-in-left", "label": "Zoom In Left"},
        { "value": "zoom-in-right", "label": "Zoom In Right"},
        { "value": "zoom-out", "label": "Zoom Out"},
        { "value": "zoom-out-up", "label": "Zoom Out Up"},
        { "value": "zoom-out-down", "label": "Zoom Out Down"},
        { "value": "zoom-out-left", "label": "Zoom Out Feft"},
        { "value": "zoom-out-right", "label": "Zoom Out Right"}
      ],
      "label": "Select Animation"
  },
  {
    "type": "select",
    "id": "setwidth",
    "label": "Full Width",
    "default": "container",
    "options": [
      {
        "value": "container",
        "label": "Box"
      },
      {
        "value": "container-fluid",
        "label": "Container Fluid"
      },
      {
        "value": "full",
        "label": "Full"
      }
    ]
  },
    {
      "type": "text",
      "id": "button_label",
      "label": "Button label"
    },
    {
      "type": "video_url",
      "id": "video_url",
      "label": "Video link",
      "accept": [
        "youtube",
        "vimeo"
      ]
    },
    {
      "type": "header",
      "content": "Cover"
    },
    {
      "type": "image_picker",
      "id": "cover_image",
      "label": "Image"
    },
    {
      "type": "header",
      "content": "Overlay"
    },
    {
      "type": "checkbox",
      "id": "show_overlay",
      "label": "Show overlay",
      "default": true
    },
    {
      "type": "color",
      "id": "overlay_color",
      "label": "Overlay",
      "default": "#000000"
    },
    {
      "type": "range",
      "id": "overlay_opacity",
      "min": 0,
      "max": 100,
      "step": 5,
      "unit": "%",
      "label": "Opacity",
      "default": 30
    }
  ]
}
{% endschema %}
